{% extends 'products/base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
{% if basket_products %}
<div style="text-align: center;">
    <h1>Корзина</h1>
</div>
<div style="display: flex; justify-content: space-between;">
    <div id="in_basket_parent" class="list-group" style="justify-content: space-between;">
        {% for basket in basket_products %}
        <div id="product_in_basket_{{basket.product.id}}" style="display: flex; margin-bottom: 10px; justify-content: space-between; max-width: 800px;">
            <div style="display: flex;">
                <div style="margin-right: 10px;">
                    <img src="{{ basket.product.images.all.1.image.url }}" alt="Image" height="100" width="70"
                        style="border-radius: 10px;">
                </div>
                <div style="margin-right: 10px;">
                    <h7 class="mb-1">{{ basket.product.name }}</h7>
                    <p style="margin: 0;"><small>stuffstore</small></p>
                    {# <small class="text-muted">И какой-то приглушенный мелкий шрифт.</small> #}
                    <div style="display: flex;">
                        <div id="product_in_basket_{{basket.product.pk}}"
                            style="background-color: rgba(51, 56, 124, 0.1); width: max-content; border-radius: 5px;">
                            <button style="border: none; background: none; padding: 0px 0px 0px 5px;"><a
                                    style="all: unset;" onclick="minus_product_to_basket_from_basket_page({{basket.product.pk}})"><i
                                        class="fa-solid fa-minus"></i></a></button>
                            <input id="product_{{basket.product.pk}}_quantity" type="text"
                                style="width: 53px; height: 32px; font-size: 14px; font-weight: 700; border: none; background: none; padding: 0; text-align: center;"
                                value="{{ basket.quantity }}" disabled>
                            <button style="border: none; background: none; padding: 0px 5px 0px 0px;"><a
                                    style="all: unset;"
                                    onclick="add_product_to_basket_from_basket_page({{basket.product.pk}})"><i
                                        class="fa-solid fa-plus"></i></a></button>
                        </div>
                        <div style="padding-left: 10px;">
                            <a onclick="add_product_to_favorites({{basket.product.pk}})" style="all: unset;">
                                <i id="favorite_heart_{{basket.product.pk}}" class="{% if basket.product.pk in favorites_products %}
                                            fa-solid{% else %}fa-regular{% endif %} fa-heart fa-xl add_to_favourite">
                                </i></a>
                        </div>
                        <div style="padding-left: 10px;">
                            <a onclick="delete_product_from_basket({{basket.product.pk}})" style="all: unset;"><i
                                    class="fa-regular fa-trash-can fa-xl add_to_favourite" onclick=""></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: flex;">
                <div id="product_sum" style="width: max-content; text-align: right;">{{ basket.sum }} р.</div>
                <div class="form-check">
                    {% if basket.selected_for_purchase %}
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked
                        onclick="window.location.assign('{% url "basket:selected_for_purchase" basket.pk %}')">
                    {% else %}
                    <a href="{% url 'basket:selected_for_purchase' basket.pk %}"><input class="form-check-input"
                            type="checkbox" value="" id="flexCheckChecked" 
                            onclick="window.location.assign('{% url "basket:selected_for_purchase" basket.pk %}')"></a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="card text mb-3"
        style="width: 18rem; align-self: flex-start; background-color: rgba(51, 56, 124, 0.1); border: none;">
        <div class="card-body">
            <div style="display: flex; justify-content: space-between;">
                <span style="font-weight: bold;">Итого</span> <span id="total_basket_cost" style="font-weight: bold;">
                    {{ cost_selected_basket_products.basket_cost|floatformat:'2' }} </span>
            </div>
            <div style="display: flex; justify-content: space-between;">
                <span>Товаров</span> <span id="total_basket_quantity"> {% if  cost_selected_basket_products.basket_count_products %}
                    {{ cost_selected_basket_products.basket_count_products }}
                    {% else %}
                    0
                    {% endif %}
                </span>
            </div>
            <div style="display: flex; justify-content: space-between;">
                <span>Доставка</span> <span>-</span>
            </div>
            <div style="display: flex; justify-content: center;">
                <button type="button" class="btn btn-primary" style="width: 100%; background-color: rgb(51, 56, 124);">
                    <a href="{% url 'orders:order' %}" style="color: white; text-decoration: none;">Оплатить</a>
                </button>
            </div>
        </div>
    </div>
</div>
{% else %}
<div style="text-align: center;">
    <h1>Упс. Тут похоже ничего нет:(</h1>
</div>
{% endif %}
{% endblock %}