{% extends 'products/base.html' %}
{% load static sweetify humanize %}
{% sweetify %}
{% block content %}
    <style>
        .col-lg-8 {
            flex: 0 0 auto;
            width: 60%;
        }
    </style>
    <section>

        <div class="container">
            <div class="py-5 text-center" style="margin-top: 50px">
                <h1>Оформление заказа</h1>
            </div>
            <div class="row g-5">
                <div class="col-md-5 col-lg-4 order-md-last" style="width: 500px; margin-top: 25px">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-primary">Корзина</span>
                    </h4>
                    <ul class="list-group mb-3">
                        {% for product in order_products %}
                            <li class="list-group-item d-flex justify-content-between lh-sm">
                                <div>
                                    <h6 class="my-0" style="width: 300px">{{ product.product.name }}</h6>
                                    <small class="text-muted">Количество: {{ product.quantity }} шт.</small>
                                </div>
                                <span class="text-muted">{{ product.sum|intcomma }} руб.</span>
                            </li>
                        {% endfor %}
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Общее количество товаров:</span>
                            <strong> {{ order_products.total_quantity }} шт.</strong>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Итоговая сумма:</span>
                            <strong> {{ order_products.total_sum|intcomma }} руб.</strong>
                        </li>
                    </ul>

                </div>
                <div class="col-md-7 col-lg-8">
                    <form action="{% url 'orders:order' %}" method="post" style="width: 700px">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <label for="{{ form.first_name.id_for_label }}" class="form-label">Имя</label>
                                {{ form.first_name }}
                            </div>

                            <div class="col-sm-6">
                                <label for="{{ form.last_name.id_for_label }}" class="form-label">Фамилия</label>
                                {{ form.last_name }}
                            </div>

                            <div class="col-12 mt-3">
                                <label for="{{ form.email.id_for_label }}" class="form-label">Адрес электронной
                                    почты</label>
                                {{ form.email }}
                            </div>

                            <div class="col-12 mt-3">
                                <label for="{{ form.address.id_for_label }}" class="form-label">Адрес
                                    доставки</label>
                                {{ form.address }}
                            </div>
                        </div>
                        <br>
                        <button class="w-100 btn btn-outline-dark" type="submit"
                                style="margin-bottom: 190px; margin-top: 15px">
                            Продолжить
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}