.navbar, .bg-dark, .border-bottom, .border-body {
    margin-right: auto;
    margin-left: auto;
    max-height: 80px;
    height: 80px;
    max-width: 1325px;
    border-radius: 0 0 20px 20px;

}

.nav-logo {
    max-width: 200px;
    max-height: 40px;
    padding-left: 20px;
}

.navbar-links figure {
    margin-bottom: 0px;
    text-align: center;
}

.navbar-links :hover {
    color: rgb(171, 114, 146);
}

.container-fluid, .navbar-toggler {
    color: rgb(171, 114, 146);
}

.container-fluid, a {
    text-decoration-line: none;
    color: rgb(219, 214, 213);
}



.navbar-toggler {
    background-color: rgb(239, 230, 235);
}

.nav-item a :hover {
    color: rgb(171, 114, 146);
}

.footer {
    background-color: rgb(34, 36, 54);
    margin-top: 20px;
}

.footer h4 {
    color: rgb(219, 214, 213);
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 60px;
}

.footer a {
    text-decoration: none;
    transition: all .3s;
    color: rgb(219, 214, 213);
    display: block;

}

.footer a:hover {
    color: rgb(171, 114, 146);
    text-decoration: underline;

}

.footer-info {
    color: #fffc;
    border-top: 1px solid #fff3;
    gap: 40px;
    padding: 20px 0;
    display: flex;
    font-size: 14px;
    line-height: 20px;
}

.star-rating {
    display: inline-block;
    font-size: 0;
    margin: 0;
    padding: 0;
    position: relative;
    vertical-align: middle;
}
  
.star-rating .star {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    /* background: linear-gradient (to bottom, rgba (197, 196, 196, 1) 0%, rgba (180, 179, 178, 1) 100%); */
    background: rgb(255, 178, 12);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.body {
     font-family: Hauss,sans-serif;
}

span.blur {
    display: inline-block;
    position: relative;
    width: 190px;
}

span.blur::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 3em;
    content: '';
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}