.nav_content_delivery ul li {
    list-style-type: none;
    display: inline;
    margin-right: 5px;
    padding: 3px;
}

.title_nav {
    margin: 0;
    padding: 4px;
}

.nav_content_delivery {
    margin-top: 50px;
}

.nav_content_delivery .nav:not(.delivery_and_purchases) {
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

.nav_content_delivery .nav:not(.delivery_and_purchases):hover {
    color: rgb(201, 17, 170);
}

.nav_content_delivery .delivery_and_purchases {
    color: black;
    background-color: rgb(244, 244, 248);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.delivery .link_delivery {
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    padding: 5px 10px 5px 10px;
    background-color: transparent;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
}

.delivery .link_purchases {
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    padding: 5px 10px 5px 10px;
    background-color: transparent;
}

.delivery {
    font-variation-settings: "wght" 550;
    margin-top: 17px;
    margin-right: 20px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.33333;
    display: flex;

}

.payments {
    margin-left: auto;
    margin-right: 0;
    margin-top: 0;
}

.alert {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;

}

.alert .timedescr {
    color: #a9a1a1;
}

.alert .timecode {
    font-variation-settings: "wght" 550;
    letter-spacing: 3.3px;
    border: 1px solid #9797af;
    border-radius: 12px;
    margin: auto 0;
    padding: 7px 16px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.33333;
    margin-left: 10px;
    margin-top: 0px;

}

.alert .empty {
    flex-grow: 1;
}

.delivery_item_button_pay {
    font-variation-settings: "wght" 550;
    border: none;
    border-radius: 12px;
    outline: none;
    height: 50px;
    padding: 11px 32px 15px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    width: 150px;
    margin-left: 10px;
}

.delivery_item_button_goshop {
    font-variation-settings: "wght" 550;
    border: none;
    border-radius: 12px;
    outline: none;
    height: 50px;
    padding: 11px 32px 15px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    width: 200px;
    margin-left: 10px;
}

.gradient {
    font-variation-settings: "wght" 550;
    white-space: nowrap;
    background: linear-gradient(102.42deg, #da15b8 59.69%, #8d06cc);
    border: 0;
    border-radius: 12px;
    font-weight: 400;
    color: #fff;
    background-color: #cb11ab;
}

.product-card__payment {
    background-color: rgb(246, 122, 84);
    color: #fff;
    text-overflow: ellipsis;
    text-transform: uppercase;
    min-width: 17px;
    display: block;
    overflow: hidden;
    width: 90px;
}

.product-card__payment {
    font-variation-settings: "wght" 550;
    letter-spacing: .22px;
    white-space: nowrap;
    border-radius: 4px;
    padding: 3px 4px 4px;
    font-size: 11px;
    font-weight: 400;
    line-height: 10px;
}

#notpay {
    margin-top: 20px;
    margin-bottom: 10px;
}

.delivery_lower {
    margin-left: 10px;
    color: #9797af;
    line-height: 1;
    font-variation-settings: "wght" 550;
}

.list-group-item-action {
    width: 20px;
    text-align: inherit;
}

/****** Style Star Rating Widget *****/

/* Checkbox stars */
.rating {
    overflow: hidden;
    vertical-align: bottom;
    display: inline-block;
    width: 155px;
    height: 30px;
  }
  
  .rating > input {
    opacity: 0;
    margin-right: -100%;
  }
  
  .rating > label {
    position: relative;
    display: block;
    float: right;
    background: url('../images/star-off-big.png');
    background-size: 30px 30px;
  }
  
  .rating > label:before {
    display: block;
    opacity: 0;
    content: '';
    width: 30px;
    height: 30px;
    background: url('../images/star-on-big.png');
    background-size: 30px 30px;
    transition: opacity 0.2s linear;
  }
  
  .rating > label:hover:before,  .rating > label:hover ~ label:before,  .rating:not(:hover) > :checked ~ label:before { opacity: 1; }
  /* //Checkbox stars */