.form-label {
    margin-bottom: 0;
    font-size: 15px;
    color: #9797af;;
}

.personal-body {
    margin-top: 20px;
    margin-left: 10px;
}

.btn-group {
    margin-top: 0;
    margin-left: 10px;
    padding: 0;
    background-color: white;
}


.col-sm-3-gender {
    flex: 0 0 auto;
    width: 18%;
}

.col-sm-3-name {
    flex: 0 0 auto;
    width: 18%;
}

.col-sm-3-surname {
    flex: 0 0 auto;
    width: 18%;
}

.col-sm-3 {
    flex: 0 0 auto;
    width: 26%;
}

.form-control-label {
    background-color: #0000;
    border: 0;
    border-bottom: 1px solid #0003;
    border-radius: 0;
    outline: none;
    width: 100%;
    height: 44px;
    padding: 20px 0 8px;
    font-size: 18px;
    display: block;
    position: relative;
}

.offcanvas-body .form-label {
    margin-top: 5px;
}

.offcanvas-body .button-submit {
    text-align: center;
    margin-top: 270px;
}

.offcanvas-body .button-submit .delivery_item_button_submit {
    width: 100%;
}

#mycards-header {
    color: #00bf59;
    margin-top: 60px;
    margin-left: auto;
    padding-bottom: 0;
    padding-right: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.21429;
    display: block;
    text-align: end;
}

#mycards-title {
    color: black;
    font-size: 24px;

}

.delivery_item_button_submit {
    font-variation-settings: "wght" 550;
    border: none;
    border-radius: 12px;
    outline: none;
    height: 50px;
    padding: 11px 32px 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
}

.item-payments {
    flex-wrap: wrap;
    align-items: center;
    row-gap: 5px;
    margin-top: 5px;
    margin-bottom: 16px;
    display: flex;
}

.nav_content_details .nav:not(.details) {
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

.nav_content_details .nav:not(.details):hover {
    color: rgb(201, 17, 170);
}

.nav_content_details .details {
    color: black;
    background-color: rgb(244, 244, 248);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.nav_content_details ul li {
    list-style-type: none;
    display: inline;
    margin-right: 5px;
    padding: 3px;
}

.title_nav {
    margin: 0;
    padding: 4px;
}

.nav_content_details {
    margin-top: 50px;
}

.row .gender label {
    color: black;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 5px;
}


.row.gender input[type="radio"] {
    display: inline-block;
    /*margin-right: 10px;*/
}

.btn-group > .btn {
    position: relative;
    flex: none;
}