.nav_content_favourites ul li {
    list-style-type: none;
    display: inline;
    margin-right: 5px;
    padding: 3px;
}

.title_nav {
    margin: 0;
    padding: 4px;
}

.nav_content_favourites {
    margin-top: 50px;
}

.nav_content_favourites .nav:not(.favourite) {
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

.nav_content_favourites .nav:not(.favourite):hover {
    color: rgb(201, 17, 170);
}

.nav_content_favourites .favourite {
    color: black;
    background-color: rgb(244, 244, 248);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.add_to_favourite:hover {
    transform: scale(1.2);
}
