.dropdown span {
    font-size: 15px;
    margin-top: 3px;
    margin-bottom: 0;
}

.vendor {
    text-align: end;
}

.carousel-inner i {
    font-size: 12px;

}

.review_content {
    text-overflow: clip;
    max-height: 80%;
    position: relative;
    overflow: hidden;
}
.card-body::after {
    content: "";
    background: linear-gradient(270deg, #f6f6fa, #f6f6fa1a);
    width: 80%;
    height: 26px;
    display: block;
    position: absolute;
    bottom: 4px;
}
