.nav_content_profile ul li {
    list-style-type: none;
    display: inline;
    margin-right: 5px;
    padding: 3px;
}

.title_nav {
    margin: 0;
    padding: 4px;
}

.nav_content_profile {
    margin-top: 50px;
}

.nav_content_profile {
    margin-top: 50px;
}

.nav_content_profile .nav:not(.profile) {
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

.nav_content_profile .nav:not(.profile):hover {
    color: rgb(201, 17, 170);
}

.nav_content_profile .profile {
    color: black;
    background-color: rgb(244, 244, 248);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}
.logout {
    font-size: small;
    margin-bottom: 5px;
    margin-top: 15px;
}
.logout a {
    color: black;
}
.logout a:hover {
    color: black;
    text-decoration-line: underline;
}