{% extends 'products/base.html' %}
{% load custom_tags %}

{% block content %}

{% profile_menu 'Профиль' %}

{% if user.is_authenticated %}
<div style="content: center; display: flex; justify-content: center; flex-wrap: wrap;margin-top: 20px">
    <div class="card text-bg-light mb-3" style="width: 30%; margin: 15px;">
        <div class="card-body" style="display: flex;">
            <div style="flex-grow: 1;">
                <div class="profile-user__header" style="display: flex;">
                    <div>
                        <img src="\static\products\images\avatar.png" alt="" width="40" height="40"
                            style="border-radius: 100; margin-right: 10px;">
                    </div>
                    <div>
                        <a href="{% url 'users:details' %}" style="color: black;">
                            <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
                        </a>
                        <p style="margin-bottom: 0;">{{ user.phone }}</p>
                        <p>{{ user.email }}</p>
                    </div>
                </div>
                <div class="logout">
                    <a href="{% url 'users:logout' %}">Выйти</a>
                </div>
            </div>
            <div class="profile-user__notice">
                <a href="#" style="color: black;"><i class="fa-regular fa-bell fa-rotate-by"
                        style="--fa-rotate-angle: 15deg;"></i></a>
            </div>
        </div>
    </div>

    <div class="card text-bg-light mb-3" style="width: 30%; margin: 15px;">
        <div class="card-body" style="display: flex;">
            <div style="flex-grow: 1;">
                <a href="{% url 'products:delivery' %}" style="color:#000000">
                    <h5 class="card-title">
                        Доставки</h5>
                </a>
                <p class="card-text">Ближайшая не ожидается</p>
            </div>
            <div style="padding: 20px;">
                <i class="fa-solid fa-box fa-2xl" style="color: #7e7c83;"></i>
            </div>
        </div>
    </div>

    <div class="card text-bg-light mb-3" style="width: 30%; margin: 15px;">
        <div class="card-body" style="display: flex; flex-flow: column;">
            <div style="display: flex; flex-grow: 1;">
                <div style="flex-grow: 1;">
                    <h5 class="card-title" style="display: inline-block;">Скидка покупателя</h5>
                </div>
                <div>
                    <h5 style="display: inline-block;">до 30%</h5>
                </div>
            </div>
            <div>
                <span style="font-size: smaller;">Процент и сумма выкупа за 12 месяцев</span>
                <p style="margin: 0;">100 % | 1 234,19 р.</p>
            </div>
        </div>
    </div>

    <div class="card text-bg-light mb-3" style="width: 30%; margin: 15px;">
        <div class="card-body">
            <a href="{% url 'users:details' %}" style="color: black">
                <h5 class="card-title">Мои карты и
                    счета</h5>
            </a>
            <div><span><img src="\static\products\images\footer\visa.png" alt="image" height="23"
                        width="36"></span><span>1234 56** **** 7890</span></div>
        </div>
    </div>

    <div class="card text-bg-light mb-3" style="width: 30%; margin: 15px;">
        <div class="card-body">
            <div>
                <a href="#" style="color: black;">
                    <a href="{% url 'products:history' %}" style="color: black">
                        <h5 class="card-title">
                            Покупки</h5>
                    </a>
                </a>
            </div>
            <div>
                <p>130 товаров</p>
            </div>
            <div style="height: 64px; position: relative;">
                <img src="/media/images/cards/4.jpg" alt="" width="64" height="64"
                    style="border-radius: 100px; position: absolute; left: 0px;">
                <img src="/media/images/cards/5.jpg" alt="" width="64" height="64"
                    style="border-radius: 100px; position: absolute; left: 40px;">
                <img src="/media/images/cards/6.jpg" alt="" width="64" height="64"
                    style="border-radius: 100px; position: absolute; left: 80px;">
                <img src="/media/images/cards/7.png" alt="" width="64" height="64"
                    style="border-radius: 100px; position: absolute; left: 120px;">
                <img src="/media/images/cards/8.png" alt="" width="64" height="64"
                    style="border-radius: 100px; position: absolute; left: 160px;">
                <img src="/media/images/cards/1.jpg" alt="" width="64" height="64"
                    style="border-radius: 100px; position: absolute; left: 200px;">
                <img src="/media/images/cards/9.jpg" alt="" width="64" height="64"
                    style="border-radius: 100px; position: absolute; left: 240px;">
                <span
                    style="color: white; position: absolute; left: 250px; top: 15px; font-size: x-large; text-shadow: 0 0 8px #0006;">+36</span>
            </div>
        </div>
    </div>

    <div class="card text-bg-light mb-3" style="width: 30%; margin: 15px;">
        <div class="card-body">
            <div>
                <a href="#" style="color: black;">
                    <a href="{% url 'basket:favorites' %}" style="color: black">
                        <h5 class="card-title">
                            Избранное</h5>
                    </a>
                </a>
            </div>
            <div>
                <p>Доступно к покупке {{ favorites_products|length }} товар(а/ов)</p>
            </div>
            <div style="height: 64px; position: relative;">
                {% for product in favorites_products %}
                {% multiply forloop.counter|add:'-1' 40 as left %}
                <a href="{{ product.product.get_absolute_url }}"><img src="{{ product.product.images.first.image.url }}"
                        alt="" width="64" height="64"
                        style="border-radius: 100px; position: absolute; left: {{ left }}px;"></a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% else %}
<div style="text-align: center;">
    <h1>Для входа в личный кабинет необходимо авторизоваться</h1>
</div>
{% endif %}

{% endblock %}