<!doctype html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {# Подключение Boostrap #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {# Подключение Sweetalert #}
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/bfa770dae3.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    {# собственные js скрипты #}
    <script src="{% static 'products/js/my_scripts.js' %}"></script>
    {# Подключение static-files #}
    <link rel="stylesheet" href="{% static 'products/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'products/css/payment_methods.css' %}">
    <link rel="stylesheet" href="{% static 'products/css/item_return.css' %}">
    <link rel="stylesheet" href="{% static 'products/css/sale_rules.css' %}">
    <link rel="stylesheet" href="{% static 'products/css/delivery_rules.css' %}">
    <link rel="stylesheet" href="{% static 'products/css/terms.css' %}">
    <link rel="stylesheet" href="{% static 'products/css/vacancies.css' %}">
    <link rel="stylesheet" href="{% static 'products/css/contacts.css' %}">
    <link rel="stylesheet" href="{% static 'products/css/about_us.css' %}">
    <link rel="stylesheet" href="{% static 'products/css/delivery.css' %}">
    <link rel="stylesheet" href="{% static 'products/css/history.css' %}">
    <link rel="stylesheet" href="{% static 'products/css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'products/css/favourite.css' %}">
    <link rel="stylesheet" href="{% static 'products/css/details.css' %}">
    <link rel="stylesheet" href="{% static 'products/css/catalog.css' %}">
    <link rel="stylesheet" href="{% static 'products/css/product.css' %}">

    <link rel="stylesheet" href="{% static 'products/css/reviews.css' %}">

    <link rel="shortcut icon" href="{% static 'products/images/header/minilogo.png' %}" type="image/png">
</head>

<body>
<nav class="navbar bg-dark border-bottom border-body">
    <div class="container-fluid d-flex justify-content-around">
        <a href="{% url 'products:home' %}"><img class="nav-logo"
                                                 src="{% static 'products/images/header/logo.png' %}" alt="Логотип"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form class="d-flex" role="search">
            <input class="form-control me-2 col-sm-3" type="search" placeholder="Найти товары" aria-label="Search"
                   style="width: 320px;">
            <button type="submit" class="btn btn-light"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <a class="navbar-links" href="{% url 'products:delivery' %}">
            <figure class="icon-container">
                <img src="{% static 'products/images/header/delivery.svg' %}" alt="delivery" width="30" height="30"
                     class="first-icon" style="filter: brightness(0) invert(1);">
                <img src="{% static 'products/images/header/delivery_full.svg' %}" alt="delivery_full" width="30"
                     height="30" class="second-icon" style="filter: brightness(0) invert(1); margin-left: 19px">
                <figcaption>Доставки</figcaption>
            </figure>
        </a>


        <a class="navbar-links" href="{% url 'basket:favorites' %}">
            <figure class="icon-container">
                <img src="{% static 'products/images/header/favorite.svg' %}" alt="favorite" class="first-icon"
                     width="30" height="30" style="filter: brightness(0) invert(1);">
                <img src="{% static 'products/images/header/favorite_full.svg' %}" alt="favorite"
                     class="second-icon" width="30" height="30"
                     style="filter: brightness(0) invert(1); margin-left: 26px">
                <figcaption>Избранное</figcaption>
            </figure>
        </a>

        <a class=" navbar-links" {% if request.user.is_authenticated %} href="{% url 'users:profile' %}" {% endif %}
                {% if not request.user.is_authenticated %} href="{% url 'users:login' %}" {% endif %}>
            <figure class="icon-container">
                <img src="{% static 'products/images/header/person.svg' %}" alt="profile" width="30" height="30"
                     style="filter: brightness(0) invert(1);" class="first-icon">
                <img src="{% static 'products/images/header/person_full.svg' %}" alt="profile" width="30"
                     height="30" style="filter: brightness(0) invert(1); margin-left: 19px" class="second-icon">
                <figcaption>Профиль</figcaption>
            </figure>
        </a>

        <a class="navbar-links" href="{% url 'basket:basket' %}">
            <figure class="icon-container">
                <img src="{% static 'products/images/header/shopping_cart.svg' %}" alt="basket" width="30"
                     height="30" style="filter: brightness(0) invert(1);" class="first-icon">
                <img src="{% static 'products/images/header/shopping_cart_full.svg' %}" alt="basket" width="30"
                     height="30" style="filter: brightness(0) invert(1); margin-left: 16px" class="second-icon">
                {% if basket_counter %}
                    <figcaption id="button_basket" class="button_basket" data-count="{{ basket_counter }}">Корзина
                    </figcaption>
                {% else %}
                    <figcaption id="button_basket" data-count="{{ basket_counter }}">Корзина
                    </figcaption>
                {% endif %}
            </figure>
        </a>
        {# Окно вне холста#}
        <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
             aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel" style="color: rgb(219, 214, 213)">
                    Каталог товаров
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                {% for item in categories %}
                    <ul class="navbar-nav justify-content-center ">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ item.slug }}"
                               style="color: rgb(219, 214, 213)" data-bs-toggle="offcanvas"
                               data-bs-target={{ '#'|add:item.slug }}>
                                {{ item.name }}
                            </a>
                        </li>
                    </ul>
                {% endfor %}
            </div>
        </div>
        {# Дополнительное окно вне холста#}
        {% for item in categories %}
            <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id={{ item.slug }}
                    aria-labelledby="offcanvasDarkNavbarLabel2">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel2" style="color: rgb(219, 214, 213)">
                        {{ item.name }}
                    </h5>
                    <button class="btn-close btn-close-white" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                            aria-label="Toggle navigation">
                    </button>
                </div>
                <div class="offcanvas-body">
                    {% for product in item.subcategory_set.all %}
                        <ul class="navbar-nav justify-content-center ">
                            <li class="nav-item">
                                <a class="nav-link active" href="{{ product.get_absolute_url }}" aria-current="page"
                                   style="color: rgb(219, 214, 213)" data-bs-target={{ item.slug }}>
                                    {{ product.name }}
                                </a>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</nav>
<!--  -->
<section class="body">
    <div class="notification-box z-50" style="display: flex; flex-flow: column; align-items: center;">
        <!-- Notification container -->
    </div>
    <div class="container">
        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</section>
<script>
    {% for message in messages %}
        {% if message.tags == 'success' %}
            Swal.fire({
                position: "center",
                icon: "success",
                title: "{{ message }}",
                timer: 1500,

            });
        {% else %}
            Swal.fire({
                position: "center",
                icon: "error",
                title: "{{ message }}",
                timer: 2500
            });
        {% endif %}
    {% endfor %}
</script>
{# Футер #}
<footer>

    <section class="footer">
        <div class="container">
            <div class="row">
                {% for foot in footer %}
                    <div class="col-md-3 col-6">
                        <h4>{{ foot.title }}</h4>
                        {% for discr in foot.description %}
                            <div class="description">
                                <ul class="list-unstyled">
                                    <li><a href="{% url discr.url %}">{{ discr.title }}</a></li>
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="footer-info">
                <div class="footer-info-block__left">
                    <ul class="list-unstyled">
                        <li class="footer-info-item" data-text="strAddressInfo">ООО «ИМВБРБ», г. Минск, ул.
                            Грушевская
                            21, помещение 217
                        </li>
                        <li class="footer-info-item" data-text="strAddressInfoByUPN">УНП 193630204 (свидетельство о
                            государственной регистрации юридического лица выдано Минским горисполкомом от 06.06.2022
                            г.
                            №0198794)
                        </li>
                        <li class="footer-info-item" data-text="strDateOfInclusion">Дата включения сведений об
                            интернет-магазине в Торговый реестр Республики Беларусь 01.07.2022
                        </li>
                        <li class="footer-info-item"><span data-text="strTelephoneToCall">Телефон для связи: </span>
                            <a data-tag="phoneToCall" data-text="strTelephoneToCallTel"
                               href="tel:+375173886000">+375
                                17 388 60 00</a>
                        </li>
                        <li class="footer-info-item" data-text="strSchedule">Режим работы: круглосуточно</li>
                    </ul>
                </div>
                <div class="footer-info-block__right">
                    <ul class="list-unstyled">
                        <li class="footer-info-item"><span data-text="strConsumerRights">Лицо, уполномоченное
                                    продавцом рассматривать обращения покупателей о нарушении их прав, предусмотренных
                                    законодательством о защите прав потребителей – Добриян Ольга Викторовна, тел.
                                </span>
                            <a data-tag="phoneConsumer" data-text="strConsumerRightsTel"
                               href="tel:+375173886022">+375
                                17 388 60 22</a>
                        </li>
                        <li class="footer-info-item"><span class="footer-info--wrap"
                                                           data-tag="phoneAdministration"><a href="tel:+375172639769">+375 17 263 97 69,</a><a
                                href="tel:+375172583082">+375 17 258 30 82</a></span>
                            <span data-text="strAdministrationInfo">– отдел торговли и услуг администрации
                                    Московского района г. Минска</span>
                        </li>
                        <li class="footer-info-item" data-tag="strMainDepartment"><span class="footer-info--wrap"
                                                                                        data-tag="phoneDepartment"><a
                                href="tel:+375173688049">+375 17 368 80 49</a></span>
                            <span data-text="strMainDepartment">– уполномоченный по защите прав потребителей</span>
                        </li>
                        <li class="footer-info-item"><span data-text="strProcessingClaims">По оформлению рекламации
                                    или возврата, свяжитесь с нами по электронной почте:</span>
                            <a data-tag="processingClaimsMail" data-text="strProcessingClaimsMail"
                               href="mailto:sales@wildberries.by">sales@wildberries.by</a>
                        </li>
                        <li class="footer-info-item" data-text="strBookRemarks">Книга замечаний и предложений
                            находится
                            по адресу: г Минск, ул. Скрыганова, д.6а, помещение 8, офис 22
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</footer>
</body>

</html>