{% extends 'products/base.html' %}

{% block content %}
    <div class="catalog_content" style="margin-top: 50px">
        <div class="dropdown" style="margin-left: 0">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                {{ category }}
            </button>
            <ul class="dropdown-menu"
                aria-labelledby="dropdownMenuButton1">

                {% for product in category.subcategory_set.all %}
                    <li><a class="dropdown-item" href="{{ product.get_absolute_url }}">{{ product.name }} </a></li>
                {% endfor %}
            </ul>
            <h2 style="margin-left: 10px"><b>{{ subcategory }}</b></h2>
            <div class="row row-cols-auto" style="margin-top: 30px">
                {% for product in object_list %}
                    <div class="col" style="cursor: pointer; margin-bottom: 20px;">
                        <div class="card border-0" style="width: 247px; height: 467px">
                            <a href="#addtofavourites">
                                <i class="fa-regular fa-heart fa-lg add_to_favourite"
                                   style="color: rgb(255, 255, 255); position: absolute; top: 10px; z-index: 1000; right: 10px; margin: 15px 5px 0px 0px;"></i></a>
                            <div id="carousel-{{ product.id }}" class="carousel slide carousel-fade">
                                <div class="carousel-inner">
                                    {% for image in product.images.all %}
                                        {% if image %}
                                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                                <div class="image-wrapper">
                                                    <a href="{{ product.get_absolute_url }}">
                                                        <img src="{{ image.image.url }}"
                                                             class="d-block w-100 card-img-top"
                                                             style="border-radius: 10px; width: 330px;"
                                                             alt="Image">
                                                    </a>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <button class="carousel-control-prev" type="button"
                                        data-bs-target="#carousel-{{ product.id }}"
                                        data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Предыдущий</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                        data-bs-target="#carousel-{{ product.id }}"
                                        data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Следующий</span>
                                </button>
                            </div>
                            <div class="card-body"
                                 style="overflow: hidden; padding-top: 5px; padding-bottom: 0px; padding-left: 0; margin-top: 0;">
                                <h5 class="card-title"
                                    style="font-size: 24px; margin-top: 10px">
                                    <b>{{ product.price }} р.</b></h5>
                                <p style="margin: 0; font-size: small;"><small><b>Завтра</b></small></p>
                                <p class="card-text" style="margin-bottom: 0; white-space: nowrap; margin-top: 3px;">
                                    <span class="blur" style="width: 250px">{{ product.name }}</span>
                                </p>
                                <div style="display: flex;">
                                    <!-- <div class="star-rating">
                                        <div class="star" style="background-color: rgb(42, 44, 58);"></div>
                                    </div> -->
                                    <div style="font-size: 14px;"><a href="#reviews" style="color: black;"><i
                                            class="fa-solid fa-star fa-sm"></i>{{ product.rating }} &#8226;
                                        {{ product.review }} отзывов</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-primary-link"
                           onclick="alert('Товар добавлен в корзину. PS добавить исчезание этой надписи само по себе и сделать ее меньше')"
                           value="Нажми на меня!"/>В корзину</a>
                    </div>
                {% endfor %}
            </div>


        </div>
{% endblock content %}