{% extends 'products/base.html' %}
{% load static %}
{% block content %}
    <div class="container_content">
        <h1><b>Контакты</b></h1><br>
        <div class="contacts">
            <div class="contact-item">
                <div class="contact-item__body">
                    <div>По вопросам работы интернет-магазина (заказы, товары, доставка, регистрация и др.),<br> а также
                        по оформлению рекламации или возврата, свяжитесь с нами по электронной<br> почте:
                    </div>
                    <a href="mailto:stuffstore@gmail.com">stuffstore@gmail.com</a><br><br>
                </div>
            </div>
            <div class="contact-item">
                <div class="contact-item__body">
                    <div>Если вам нужна помощь в организации обратной отправки, свяжитесь с нами<br> по электронной
                        почте:
                    </div>
                    <a href="mailto:stuffstore@gmail.com ">stuffstore@gmail.com</a><br><br>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
