{% extends 'products/base.html' %}
{% load custom_tags %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

    {% if is_auth %}
    {% profile_menu 'Доставки и покупки' %}
        <div class="delivery">
            <a href="{% url 'products:delivery' %}" class="link_delivery"><b>Доставки</b></a>
            <a href="{% url 'products:history' %}" class="link_purchases"><b>Покупки</b></a>
            {% if is_not_payment %}
                <a class="payments" href="" style="color:#f65252;"><b>Неоплаченные товары</b></a>
            {% endif %}
        </div>
        <div class="receipt">
            <div class="alert alert-secondary" role="alert">
                <div>
                    <p><b>Получите товары</b><br>
                        По коду и четырём последним цифрам телефона</p>
                </div>
                <div class="empty">

                </div>

                <div class="receipt__right">
                    <p class="timedescr">Код обновляется<br> каждые 24 часа</p>
                </div>
                <span class="timecode">66458</span>

            </div>
        </div>
        {% if is_not_payment %}
            <div class="content_delivery">
                <br>
                <h4><b>Пункт выдачи</b></h4>
                <p>г. Лунинец (Брестская область), Советская улица, д.18</p>
                {# Пока что временно поставил карточки #}
                <div class="row row-cols-auto g-4">
                    {% for card in bought_cards %}
                        <div class="col" style="cursor: pointer;" onclick="">
                        <div class="card " style="width: 190px;">
                            <div id="carousel-{{ card.id }}" class="carousel slide carousel-fade">
                                <div class="carousel-inner">
                                    {% for image in card.images_url %}
                                        {% if forloop.first %}
                                            <div class="carousel-item active">
                                        {% else %}
                                            <div class="carousel-item">
                                        {% endif %}
                                    <img src="{{ image }}" class="d-block w-100 card-img-top" alt="Image" height="200"
                                         width="330">
                                    <span class="product-card__payment">Не оплачен</span>

                                    </div>
                                    {% endfor %}
                                    </div>
                                    <button class="carousel-control-prev" type="button"
                                            data-bs-target="#carousel-{{ card.id }}"
                                            data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Предыдущий</span>
                                    </button>
                                    <button class="carousel-control-next" type="button"
                                            data-bs-target="#carousel-{{ card.id }}"
                                            data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Следующий</span>
                                    </button>
                                </div>
                                <div class="card-body" style="overflow: hidden">
                                    <h5 class="card-title">{{ card.price }} BYN</h5>
                                    <p class="card-text"
                                       style="margin-bottom: 0; white-space: nowrap;">{{ card.title }}</p>
                                    <!-- <p class="card-text"><small class="text-body-secondary">Последнее обновление 3 мин. назад</small></p> -->
                                    <div style="display: flex;">
                                        <div class="star-rating">
                                            <div class="star"></div>
                                        </div>
                                        <div style="font-size: 14px;">{{ card.avg_reviews }}
                                            - {{ card.count_of_reviews }}
                                            отзывов
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                    </div>

                </div>
                <h5 id="notpay"><b>У вас 1 неоплаченный товар</b></h5>
                <p class="delivery_item_button_pay gradient" type="button">К оплате</p>
            </div>
        {% else %}
            <div class="delivery_lower">
                <h5><b>Здесь вы сможете отслеживать доставку покупок</b></h5>
                <h6>Чтобы приступить к покупкам, выберите товары в каталоге или с помощью поиска.</h6>
            </div>
            <a class="delivery_item_button_goshop gradient" type="button" href="{% url 'home' %}"
               style="margin-top: 10px">За покупками</a>
        {% endif %}
        <h4 style="margin-top: 50px"><b>Оцените товары</b></h4>
        <div class="row row-cols-1 row-cols-md-6 g-4" style="margin-top: 0">
        {% for card in shopping %}
            <div class="col" style="cursor: pointer;" onclick="window.location='#';">
            <div class="card">
                <div id="carousel-{{ card.id }}" class="carousel slide carousel-fade">
                    <div class="carousel-inner">
                        {% for image in card.images_url %}
                            {% if forloop.first %}
                                <div class="carousel-item active">
                            {% else %}
                                <div class="carousel-item">
                            {% endif %}
                        <img src="{{ image }}" class="d-block w-100 card-img-top" alt="Image" height="200"
                             width="330">
                        </div>
                        {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button"
                                data-bs-target="#carousel-{{ card.id }}"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Предыдущий</span>
                        </button>
                        <button class="carousel-control-next" type="button"
                                data-bs-target="#carousel-{{ card.id }}"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Следующий</span>
                        </button>
                    </div>
                    <div class="card-body">
                        <p class="card-text" style="margin-bottom: 0;">{{ card.title }}</p>
                        <!-- <p class="card-text"><small class="text-body-secondary">Последнее обновление 3 мин. назад</small></p> -->
                        <div style="display: flex;">
                            <div class="star-rating">
                                <div class="star"></div>
                            </div>
                            <div style="font-size: 14px;">{{ card.avg_reviews }} - {{ card.count_of_reviews }}
                                отзывов
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
        <h4 style="margin-top: 50px"><b>Оцените доставки</b></h4>
        <div>
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Пункт выдачи 26 января</h5>
                    <p class="card-text">г. Лунинец (Брестская область), Советская улица, д.18</p>
                    <!-- <ul class="list-group flex-row">
                        <li class="list-group-item list-group-item-action rating">
                            <i class="far fa-star"></i>
                        </li>
                        <li class="list-group-item list-group-item-action rating">
                            <i class="far fa-star"></i>
                        </li>
                        <li class="list-group-item list-group-item-action rating">
                            <i class="far fa-star"></i>
                        </li>
                        <li class="list-group-item list-group-item-action rating">
                            <i class="far fa-star"></i>
                        </li>
                        <li class="list-group-item list-group-item-action rating">
                            <i class="far fa-star"></i>
                        </li>
                    </ul> -->
                    <fieldset class="rating">
                        <input type="radio" id="star5" name="rating" value="5"/><label class="full" for="star5"
                                                                                       title="Awesome - 5 stars"></label>
                        <input type="radio" id="star4" name="rating" value="4"/><label class="full" for="star4"
                                                                                       title="Pretty good - 4 stars"></label>
                        <input type="radio" id="star3" name="rating" value="3"/><label class="full" for="star3"
                                                                                       title="Meh - 3 stars"></label>
                        <input type="radio" id="star2" name="rating" value="2"/><label class="full" for="star2"
                                                                                       title="Kinda bad - 2 stars"></label>
                        <input type="radio" id="star1" name="rating" value="1"/><label class="full" for="star1"
                                                                                       title="Sucks big time - 1 star"></label>
                    </fieldset>
                </div>
            </div>
        </div>
        <h4 style="margin-top: 50px"><b>Возможно, вас заинтересует</b></h4>
        <div class="row row-cols-1 row-cols-md-6 g-4" style="margin-top:0">
        {% for card in payment_list %}
            <div class="col" style="cursor: pointer;" onclick="window.location='#';">
            <div class="card">
                <div id="carousel-{{ card.id }}" class="carousel slide carousel-fade">
                    <div class="carousel-inner">
                        {% for image in card.images_url %}
                            {% if forloop.first %}
                                <div class="carousel-item active">
                            {% else %}
                                <div class="carousel-item">
                            {% endif %}
                        <img src="{{ image }}" class="d-block w-100 card-img-top" alt="Image" height="200"
                             width="330">
                        </div>
                        {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{ card.id }}"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Предыдущий</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{ card.id }}"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Следующий</span>
                        </button>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ card.price }} BYN</h5>
                        <p class="card-text" style="margin-bottom: 0;">{{ card.title }}</p>
                        <!-- <p class="card-text"><small class="text-body-secondary">Последнее обновление 3 мин. назад</small></p> -->
                        <div style="display: flex;">
                            <div class="star-rating">
                                <div class="star"></div>
                            </div>
                            <div style="font-size: 14px;">{{ card.avg_reviews }} - {{ card.count_of_reviews }} отзывов
                            </div>
                        </div>

                        <a href="#" class="btn btn-primary" style="background-color: rgb(34, 36, 54);">Добавить в
                            корзину</a>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
    {% else %}
        <p>Для просмотра доставок необходимо авторизоваться</p>
    {% endif %}


{% endblock %}
