{% extends 'products/base.html' %}
{% load static %}
{% block content %}
    <div class="rules">
        <h1><b>Правила доставки</b></h1><br>
        <div><p><b>Срок доставки с момента оформления заказа составляет
            <span>3–5</span> дней</b></p>
            <p>Срок может быть изменен по независящим от компании обстоятельствам согласно <a
                    href="{% url 'products:terms_rules' %}">условиям</a>.
            </p>
            <p>Если у Вас есть вопросы по доставке Вашего заказа, свяжитесь с нами по электронной почте:
                <a href="mailto:stuffstore@gmail.com">stuffstore@gmail.com</a></p>
        </div>
        <div class="delivery__quantity-pvz quantity-pvz">
            <h1><b>34737</b></h1>
            <p>пункта выдачи</p><br><br><br>
        </div>
    </div>

{% endblock %}