{% extends 'products/base.html' %}

{% block content %}
    <div class="nav_details">
        <ul class="title_nav">
            <li><a href="{% url 'users:profile' %}" class="nav profile"><b>Профиль</b></a></li>
            <li><a href="{% url 'products:delivery' %}" class="nav delivery_and_purchases"><b>Доставки и
                покупки</b></a></li>
            <li><a href="{% url 'basket:favorites' %}" class="nav favourite"><b>Избранное</b></a></li>
            <li><a href="{% url 'products:reviews' %}" class="nav reviews"><b>Отзывы</b></a></li>
              <li><a href="{% url 'users:details' %}" class="nav details"><b>Личные данные</b></a></li>
        </ul>
    </div>
    <div style="text-align: center;">
        <h1>Избранное</h1>
    </div>

    {% if favorites_products %}
        <div class="row row-cols-1 row-cols-md-6 g-4">
        {% for card in favorites_products %}
            <div class="col" style="cursor: pointer;" onclick="window.location='#';">
            <div class="card">
                <div id="carousel-{{ card.id }}" class="carousel slide carousel-fade">
                    <div class="carousel-inner">
                        {% for image in card.images_url %}
                            {% if forloop.first %}
                                <div class="carousel-item active">
                            {% else %}
                                <div class="carousel-item">
                            {% endif %}
                        <img src="{{ image }}" class="d-block w-100 card-img-top" alt="Image" height="200"
                             width="330">
                        </div>
                        {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{ card.id }}"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Предыдущий</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{ card.id }}"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Следующий</span>
                        </button>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ card.price }} BYN</h5>
                        <p class="card-text" style="margin-bottom: 0;">{{ card.title }}</p>
                        <!-- <p class="card-text"><small class="text-body-secondary">Последнее обновление 3 мин. назад</small></p> -->
                        <div style="display: flex;">
                            <div class="star-rating">
                                <div class="star"></div>
                            </div>
                            <div style="font-size: 14px;">{{ card.avg_reviews }} - {{ card.count_of_reviews }} отзывов
                            </div>
                        </div>

                        <a href="#" class="btn btn-primary" style="background-color: rgb(34, 36, 54);">Добавить в
                            корзину</a>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
    {% else %}
        <div>
            <h3>Здесь будут отображаться избранные товары</h3>
            <p>Для добавления товара в избранное, нажмите "Сердечко:D"</p>
        </div>
    {% endif %}

{% endblock %}