{% extends 'products/base.html' %}
{% block title %}Покупки{% endblock %}
{% block content %}

    {% if is_auth %}
    <div class="nav_content_profile">
        <ul class="title_nav">
            <li><a href="{% url 'users:profile' %}" class="nav profile"><b>Профиль</b></a></li>
            <li><a href="{% url 'products:delivery' %}" class="nav delivery_and_purchases"><b>Доставки и
                покупки</b></a></li>
            <li><a href="{% url 'basket:favorites' %}" class="nav favourite"><b>Избранное</b></a></li>
            <li><a href="{% url 'reviews:reviews' %}" class="nav reviews"><b>Отзывы</b></a></li>
            <li><a href="{% url 'users:details' %}" class="nav details"><b>Личные данные</b></a></li>
        </ul>
    </div>
        <div class="history">
            <a href="{% url 'products:delivery' %}" class="link_delivery"><b>Доставки</b></a>
            <a href="{% url 'products:history' %}" class="link_purchases"><b>Покупки</b></a>
        </div>
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button name="AllProducts" class="btn btn-primary" type="button" data-bs-toggle="collapse"
                    aria-expanded="false">Все
            </button>
            <button name="ReceivedProducts" class="btn btn-primary" type="button" data-bs-toggle="collapse"
                    aria-expanded="false">Полученные
            </button>
            <button name="CancelledProducts" class="btn btn-primary" type="button" aria-expanded="false">Отмененные
            </button>
        </div>

        <div class="collapse show">
            <div class="card card-body">
            {#Тут добавим позднее карточки товаров#}
            </div>
        </div>

    {% else %}
        <p>Для просмотра доставок необходимо авторизоваться</p>
    {% endif %}


{% endblock %}