{% extends 'products/base.html' %}
{% load static %}
{% block content %}
    <div class="container content-page">
        <div class="item-return">
            <h1><b>Возврат товара</b></h1>
            <div class="body_page" data-tag="itemReturn">
                <h2><b>Возврат товара надлежащего качества</b></h2><br>
                <h3><b>Условия возврата</b></h3>
                <p>Товар принимается к возврату только в полной комплектации, со всеми упаковками и наклейками, в
                    неношеном/неиспользованном виде</p>

                <h3><b>Причины возврата</b></h3>
                <ul>
                    <li>Не подошел размер, фасон, цвет, длина и т.п.</li>
                    <li>Оттенок полученного товара отличается от оттенка модели с фотографии на сайте</li>
                </ul>

                <h3><b>Срок возврата товара</b></h3>
                <p>Срок возврата товара надлежащего качества составляет 14 дней с момента получения товара, если иное не
                    было оговорено при продаже товара.</p>

                <h3><b>Как вернуть товар</b></h3>
                <ol>
                    <li>
                        <b>В пункты выдачи/возврата StuffStore</b><br>
                        Покупатель может самостоятельно вернуть не подошедший товар в наши фирменные пункты
                        выдачи/возврата, в котором был приобретен товар
                    </li>
                    <li>
                        <b>Курьером StuffStore</b><br>
                        Услуга доступна для населенных пунктов, куда осуществляется доставка курьером. <br>
                        Курьером можно вернуть не более 10 позиций в день. Количество товаров для возврата в пункты
                        выдачи не ограничено
                    </li>
                </ol>

                <div class="alert alert-secondary" role="alert">
                    Внимание! Требование Покупателя об обмене либо возврате товара подлежит удовлетворению, если Товар
                    не был в употреблении, сохранены его потребительские свойства и имеются доказательства приобретения
                    его у данного продавца. (Ст. 28 Закона РБ О «О защите прав потребителей») Качественные товары, не
                    подлежащие обмену и возврату, указаны в <a
                        href="https://static-basket-01.wbbasket.ru/vol1/docs/tovary-ne-podlezhaschie-obmenu-i-vozvratu.docx"
                        target="_blank">Перечне</a>,
                    утвержденном Советом Министров Республики Беларусь от 14 июня 2002 года № 778.
                </div>

                <h2><b>Возврат товара ненадлежащего качества</b></h2>

                <h3><b>Причина возврата</b></h3>
                <p>Производственный недостаток (брак) товара, в соответствии с действующим законодательством</p>

                <h3><b>Срок возврата товара</b></h3>
                <p>
                    Покупатель может вернуть товар в течение гарантийного срока, установленного производителем.<br>
                    Если гарантийный срок на товар производителем не установлен, срок для возврата такого товара
                    составляет 2 (два) года. <br>
                    В случае, если по результату рассмотрения заявки продавцом принято положительное решение, покупатель
                    может вернуть товар в Пункт выдачи StuffStore, в котором был приобретен товар.
                </p>

                <div class="footnote">
                    <span class="note">&nbsp;&nbsp;&nbsp;*</span> Настоящие правила носят рекомендательный характер и не
                    ограничивают покупателя в правах, связанных с предъявлением требований Продавцу, предусмотренных
                    действующим законодательством.<br>
                    <span class="note">&nbsp;&nbsp;**</span> Товары надлежащего качества, которые нельзя обменять
                    (вернуть), перечислены в <a
                        href="https://static-basket-01.wbbasket.ru/vol1/docs/tovary-ne-podlezhaschie-obmenu-i-vozvratu.docx"
                        target="_blank">Перечне</a>, утвержденном Советом Министров Республики Беларусь от 14 июня 2002
                    года № 778.<br>
                    <span class="note">&nbsp;***</span> Не подлежат возврату товары надлежащего качества, перечисленные
                    в Перечне, утвержденном Правительством.<br>
                    <span class="note">****</span> Товары надлежащего качества принимаются назад в полной комплектации,
                    со всеми упаковками и наклейками, в непоношенном/неиспользованном виде. В противном случае, если они
                    были в употреблении, или отсутствуют оригинальные наклейки, стикеры и упаковка, товар возврату не
                    подлежит.
                </div>
            </div>
        </div>
    </div>

{% endblock %}