{% extends 'products/base.html' %}
{% load static %}
{% block content %}
    <div class="container content-page">
        <div class="money-return">
            <h1><b>Возврат денежных средств</b></h1><br>
            <div class="body-money-return">
                <h2><b>Безналичный расчет</b></h2><br>
                <p>При отказе Покупателя от товара, который был оплачен онлайн банковской картой, денежные средства за
                    него могут быть возвращены на банковскую карту, с которой товар был оплачен либо отражены на балансе
                    личного кабинета для распоряжения покупателем на свое усмотрение.</p>
                <p>Срок зачисления денежных средств на Ваш банковский счет будет зависеть от условий банка, в котором он
                    открыт.</p>
                <p>Если возврат средств на счет, с которого товар был оплачен, - невозможен, возврат осуществляется на
                    реквизиты.</p>
                <p>Реквизиты для возврата необходимо указать в мобильном приложении StuffStore, в разделе личного
                    кабинета «Личные данные» - «Мои реквизиты».</p>
                <p>Перечисление денежных средств может занять до 7 календарных дней.</p>
                <p class="alert alert-secondary" role="alert">Внимание! Реквизиты должны быть на имя Покупателя.</p>
            </div>
            <br><br><br>
        </div>
    </div>
{% endblock %}
