{% extends 'products/base.html' %}
{% load static %}
{% block content %}
    <div class="terms-content">
    <h1 class="terms_title"><b>Политика обработки персональных данных</b></h1><br>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                    Общие положения
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ol>
                        <li>
                            Настоящая Политика обработки персональных данных (далее – Политика) определяет политику
                            общества с
                            ограниченной ответственностью «ИМВБРБ» (далее – Общество или ИМВБРБ) в отношении обработки
                            персональных данных пользователей сайта
                        </li>

                        <li>
                            Настоящая Политика разработана с учетом требований Конституции Республики Беларусь, Закона
                            Республики Беларусь от 07.05.2021 № 99-З «О защите персональных данных» (далее – Закон) и
                            иных
                            нормативных правовых актов Республики Беларусь в области персональных данных.
                        </li>

                        <li>
                            ИМВБРБ является оператором персональных данных.
                        </li>

                        <li>
                            В информационном ресурсе ИМВБРБ
                            обрабатываются персональные данные следующих субъектов данных:
                            <ul>
                                <li>
                                    потенциальные покупатели (посетителей сайта);
                                </li>
                                <li>
                                    покупатели.
                                </li>
                            </ul>
                        </li>


                        <li>
                            Действие настоящей Политики распространяется на все процессы по обработке персональных
                            данных
                            Пользователей, включая сбор, систематизацию, хранение, изменение, использование,
                            обезличивание,
                            блокирование, распространение, предоставление, удаление персональных данных, осуществляемые
                            с
                            использованием средств автоматизации и без использования таких средств.
                        </li>

                        <li>
                            В настоящей Политике используются следующие термины:
                            <ol>
                                <li>
                                    <b>Блокирование ПД</b> – прекращение доступа к ПД без их удаления;
                                </li>

                                <li>
                                    <b>Доступ к ПД</b> – возможность правомерного ознакомления с персональными данными,
                                    с
                                    соблюдением их конфиденциальности;
                                </li>

                                <li>
                                    <b>Запрос субъекта ПД или Запрос</b> – заявление, посредством подачи которого
                                    субъект ПД
                                    выражает свое желание реализовать установленное законодательством прав в отношении
                                    ПД;
                                </li>

                                <li>
                                    <b>Персональные данные или ПД</b> – любая информация, относящаяся к
                                    идентифицированному
                                    физическому лицу, которое идентифицировано или физическому лицу, которое может быть
                                    идентифицировано;
                                </li>

                                <li>
                                    <b>Покупатель</b> – физическое лицо, которое зарегистрировано на Сайте и оформившее
                                    заказ на
                                    Сайте согласно условиям оферты;
                                </li>

                                <li>
                                    <b>Потенциальный покупатель</b> – физическое лицо, зарегистрировавшее личный кабинет
                                    на
                                    Сайте;
                                </li>

                                <li>
                                    <b>Обезличивание ПД</b> – действия, в результате которых становится невозможным без
                                    использования дополнительной информации определить принадлежность ПД конкретному
                                    субъекту
                                    ПД;
                                </li>

                                <li>
                                    <b>Обработка ПД</b> – любое действие или совокупность действий, совершаемые с ПД,
                                    включая
                                    сбор, систематизацию, хранение, изменение, использование, обезличивание,
                                    блокирование,
                                    распространение, предоставление, удаление ПД;
                                </li>

                                <li>
                                    <b>Обработка ПД с использованием средств автоматизации</b> – обработка ПД с помощью
                                    средств
                                    вычислительной техники, при этом такая обработка не может быть признана
                                    осуществляемой
                                    исключительно с использованием средств автоматизации только на том основании, что ПД
                                    содержатся в информационной системе ПД либо были извлечены из нее;
                                </li>

                                <li>
                                    <b>Обработка ПД без использования средств автоматизации</b> – действия по обработке
                                    ПД,
                                    осуществляемые при непосредственном участии человека, если при этом обеспечивается
                                    поиск ПД
                                    и (или) доступ к ним по определенным критериям (картотеки, списки, базы данных,
                                    журналы и
                                    др.);
                                </li>

                                <li>
                                    <b>Общество или Оператор</b> – Общество с ограниченной ответственностью «ИМВБРБ»,
                                    зарегистрированное в ЕГР под номером 193630204, расположенное по адресу: 220073, г.
                                    Минск,
                                    ул. Скрыганова 6а, помещение 8, офис 35;
                                </li>

                                <li>
                                    <b>Предоставление ПД</b> – действия, направленные на ознакомление с ПД определенного
                                    лица
                                    или круга лиц;
                                </li>

                                <li>
                                    <b>Распространение ПД</b> – действия, направленные на ознакомление с ПД
                                    неопределенного
                                    круга лиц;
                                </li>


                                <li>
                                    <b>Согласие Пользователя</b> – любое свободное, однозначное, информированное и
                                    недвусмысленное выражение воли субъекта ПД, посредством которого лицо дает свое
                                    согласие в
                                    письменной форме, в форме электронного документа или иной электронной форме на
                                    обработку
                                    относящихся к нему ПД;
                                </li>

                                <li>
                                    <b>Удаление ПД</b> – действия, в результате которых становится невозможным
                                    восстановить ПД в
                                    информационных ресурсах (системах), содержащих ПД, и (или) в результате которых
                                    уничтожаются
                                    материальные носители ПД;
                                </li>
                            </ol>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Категории субъектов персональных данных. содержание и объем персональных данных,
                    цели обработки персональных данных
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ol>
                        <li>
                            Общество обрабатываются персональные данные указанные в Таблице ниже.
                            <table border="1">
                                <tr>
                                    <th>Субъект данных</th>
                                    <th>Цель(и)обработки данных</th>
                                    <th>Какие данные обрабатываются</th>
                                    <th>Основание осуществления обработки</th>
                                    <th>Срок хранения</th>
                                </tr>
                                <tr>
                                    <th rowspan="2">Потенциальный покупатель</th>
                                    <td>
                                        2.1.1. Регистрация и использование личного кабинета для совершения заказов на
                                        Сайте, а
                                        также для получения информационных и рекламных рассылок.
                                    </td>
                                    <td>
                                        <ul>
                                            <li>Номер телефона;</li>
                                            <li>Сведения об устройстве (IP адресе устройства), браузере, версии
                                                приложения.
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        Согласие. Предоставляется посредством проставления галочки в соответствующем
                                        блоке
                                        напротив фразы: «Я даю согласие на обработку моих персональных данных в целях
                                        регистрации и использования личного кабинета в соответствии с правилами торговой
                                        площадки» при авторизации на Сайте.
                                    </td>

                                    <td>
                                        1 год с даты последнего использования личного кабинета на сайте.
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        2.1.2. Получение информации посредством работы с электронным помощником на
                                        Сайте.
                                    </td>

                                    <td>
                                        Данные, которые Потенциальный покупатель оставляет в личном кабинете после
                                        регистрации, но до оформления заказа Товара на Сайте, а именно:
                                        <ul>
                                            <li>Номер телефона;</li>
                                            <li>Адрес электронной почты (не обязательно);</li>
                                            <li>Фамилия (необязательно);</li>
                                            <li>Имя (необязательно);</li>
                                            <li>Размер одежды (необязательно).</li>
                                        </ul>
                                    </td>

                                    <td>
                                        Согласие. Предоставляется посредством нажатия соответствующей кнопки в диалоге с
                                        электронным помощником на Сайте.
                                    </td>

                                    <td>1 год с даты последнего использования личного кабинета на сайте.</td>
                                </tr>

                                <tr>
                                    <th rowspan="3">Покупатель</th>

                                    <td>
                                        2.1.3. Заключение и исполнение договора, включая оформление заказа, контроль
                                        статуса заказа и решение проблем по вопросам, относящимся к оформленным
                                        Покупателем заказам на Сайте.
                                    </td>

                                    <td>
                                        Данные, которые Покупатель оставляет для оформления заказа Товара на Сайте, а
                                        именно:
                                        <ul>
                                            <li>Номер телефона;</li>
                                            <li>Сведения об устройстве (IP адресе устройства), браузере, версии
                                                приложения;
                                            </li>
                                            <li>Адрес электронной почты (не обязательно);</li>
                                            <li>Фамилия (необязательно);</li>
                                            <li>Имя (необязательно);</li>
                                            <li>Размер одежды (необязательно);</li>
                                            <li>Реквизиты электронных средств платежа (номер, срок действия, код
                                                CVV/CVC).
                                            </li>
                                        </ul>
                                    </td>

                                    <td>
                                        Абз. 15 ч. 1 ст. 6 Закона.
                                    </td>

                                    <td>
                                        3 года после окончания срока действия договора, контракта, при условии
                                        проведения
                                        налоговыми органами проверки соблюдения налогового законодательства.
                                        Если налоговыми органами проверка соблюдения налогового законодательства не
                                        проводилась – 10 лет после окончания срока действия договора, контракта.
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        2.1.4. Доставка товара.
                                    </td>

                                    <td>
                                        <ul>
                                            <li>Фамилия (если указана при оформлении заказа);</li>
                                            <li>Имя (если указано при оформлении заказа);</li>
                                            <li>Номер телефона (если указан при оформлении заказа);</li>
                                            <li>Адрес доставки или адрес пункта выдачи заказа.</li>
                                        </ul>
                                    </td>

                                    <td>
                                        Абз. 15 ч. 1 ст. 6 Закона.
                                    </td>

                                    <td>
                                        30 дней с даты доставки товара.
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        2.1.5. Рассмотрение обращений, в том числе внесенных в книгу замечаний и
                                        предложений.
                                    </td>

                                    <td>
                                        <ul>
                                            <li>Ф.И.О.;</li>
                                            <li>Адрес;</li>
                                            <li>Иные</li>
                                        </ul>
                                        персональные данные, указанные в обращении.
                                    </td>

                                    <td>
                                        Абз. 20 ст. 6 Закона, Закон Республики Беларусь от 07.05.2021 № 99-1 «Об
                                        обращениях
                                        граждан и юридических лиц».
                                    </td>

                                    <td>
                                        5 лет.
                                    </td>
                                </tr>
                            </table>
                        </li>

                        <li>
                            Содержание и объем обрабатываемых ПД определены в соответствии с указанными целям их
                            обработки.
                        </li>

                        <li>
                            В соответствии с требованиями Постановления Совета Министров Республики Беларусь от
                            23.11.2018
                            № 850 Общество обеспечивает идентификацию и хранение сведений о сетевом (IР) адресе
                            устройства
                            пользователя, присвоенном при регистрации пользователя на интернет-ресурсе.
                        </li>

                        <li>
                            Пользователь предоставляет Обществу согласие на обработку соответствующих персональных
                            данных на
                            срок, указанный в п. 2.1 или до того момента, пока Пользователь не отзовет такое согласие в
                            порядке,
                            указанном ниже в п. 3.3 настоящей Политики. Отзыв согласия влечет за собой прекращение
                            обработки и
                            удаление (а в случае технической невозможности удаления - блокирование) персональных данных
                            Пользователя, и, следовательно, может повлечь невозможность заключения договора
                            купли-продажи с
                            Пользователем.
                        </li>

                        <li>
                            Обработка персональных данных Пользователей осуществляется не дольше, чем этого требуют
                            заявленные
                            цели обработки персональных данных, или в течение предусмотренного законодательством срока.
                        </li>

                        <li>
                            Общество не проверяет достоверность предоставляемой Пользователями информации,
                            дееспособность
                            Пользователей.
                        </li>

                        <li>
                            Обработка персональных данных Пользователя может производиться как с использованием средств
                            автоматизации, так и без их использования.
                        </li>

                        <li>
                            Общество вправе поручить обработку персональных данных от своего имени или в своих интересах
                            уполномоченному лицу на основании заключаемого с этим лицом договора.
                        </li>

                        <li>
                            В связи со своей хозяйственной деятельностью Общество осуществляет трансграничную передачу
                            персональных данных на территорию Российской Федерации.
                        </li>

                        <li>
                            Общество будет обрабатывать ПД Пользователей следующими способами: <b>сбор, систематизация,
                            хранение, изменение, использование, обезличивание, блокирование, распространение,
                            предоставление,
                            удаление персональных данных, передача, в том числе трансграничная,</b> в целях, указанных в
                            п. 2.1 настоящей Политики.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Права и обязанности пользователей как субъектов персональных данных
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ol>
                        <li>
                            <b>Пользователь, предоставляющий Обществу свои ПД, имеет право:</b>
                            <ol>
                                <li>
                                    путем подачи в адрес Общества соответствующего Запроса получать информацию,
                                    касающуюся
                                    обработки ПД, содержащую:
                                    <ul>
                                        <li>наименование и место нахождения Общества;</li>
                                        <li>подтверждение факта, правовых оснований и целей обработки ПД;</li>
                                        <li>перечень ПД и источники их получения;</li>
                                        <li>срок, на который дано согласие;</li>
                                        <li>
                                            наименование и место нахождения Уполномоченного лица, если обработка ПД
                                            поручена
                                            такому лицу;
                                        </li>
                                        <li>
                                            иную информацию, предусмотренную законодательством Республики Беларусь.
                                            Общество в
                                            течение 5 рабочих дней после получения Запроса предоставит Пользователю
                                            указанную
                                            выше информацию либо уведомит о причинах отказа в ее предоставлении.
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    Если ПД являются неполными, устаревшими или неточными, путем подачи соответствующего
                                    Запроса
                                    требовать от Общества изменения или дополнения его/ее ПД при наличии оснований,
                                    подтвержденных соответствующими документами. Пользователь к своему Запросу,
                                    содержащему
                                    соответствующее требование, должен приложить соответствующие документы и (или) их
                                    заверенные
                                    в установленном порядке копии, подтверждающие необходимость внесения изменений в ПД.
                                    Общество в течение 15 дней после получения Запроса внесет соответствующие изменения
                                    и
                                    уведомит об это Субъекта ПД, либо уведомит о причинах отказа во внесении таких
                                    изменений.
                                </li>

                                <li>
                                    Путем подачи в адрес Общества соответствующего Запроса получать от Общества
                                    информацию о
                                    предоставлении своих ПД третьим лицам один раз в календарный год бесплатно. Общество
                                    в
                                    течение 15 дней после получения Запроса предоставит Пользователю информацию о том,
                                    какие ПД
                                    Пользователя и кому предоставлялись в течение года, предшествовавшего дате подачи
                                    Запроса,
                                    либо уведомит о причинах отказа в ее предоставлении.
                                </li>

                                <li>
                                    Путем подачи в адрес Общества соответствующего Запроса требовать от Общества и
                                    Уполномоченных лиц уничтожить его/ее ПД, если обработка осуществляется при
                                    отсутствии
                                    оснований для обработки ПД, предусмотренных законодательством Республики Беларусь.
                                    Общество
                                    в течение 15 дней после получения Запроса прекратит обработку ПД, а также осуществит
                                    их
                                    удаление (обеспечит прекращение обработки ПД, если их удаление будет отсутствовать
                                    техническая возможность удаления ПД), примет меры по недопущению дальнейшей
                                    обработки ПД,
                                    включая их блокирование, и уведомит об этом Пользователя в тот же срок.
                                    <br>
                                    Общество вправе отказать в удовлетворении требований о прекращении обработки его ПД
                                    и (или)
                                    их удалении при наличии оснований для обработки ПД, предусмотренных
                                    законодательством, в том
                                    числе если они являются необходимыми для заявленных целей их обработки, с
                                    уведомлением об
                                    этом Пользователя в пятнадцатидневный срок.
                                </li>

                                <li>
                                    Обжаловать действия (бездействия) и решения Общества, нарушающие права Пользователя
                                    при
                                    обработке его ПД, в Национальном центре защиты персональных данных (далее – НЦЗПД) в
                                    порядке, установленным законодательством.
                                </li>
                            </ol>
                        </li>

                        <li>
                            Для реализации прав, указанных в пунктах 3.1.1-3.1.5, Пользователь подает Обществу заявление
                            в
                            письменной форме либо в виде электронного документа, которое должно содержать:
                            <ol>
                                <li>Фамилию, имя, отчество (если имеется);</li>
                                <li>Адрес места жительства (места пребывания) Пользователя;</li>
                                <li>Дату рождения Пользователя;</li>
                                <li>
                                    Идентификационный номер Пользователя, при отсутствии такого номера - номер
                                    документа,
                                    удостоверяющего личность, в случаях, если эта информация указывалась Пользователем
                                    при даче
                                    своего согласия Обществу;
                                </li>
                                <li>Изложение сути требований;</li>
                                <li>
                                    Личную подпись либо электронную цифровую подпись. Общество предоставит Субъекту ПД
                                    ответ на
                                    заявление в форме, соответствующей форме подачи Заявления, если в самом Заявлении не
                                    указано
                                    иное.
                                </li>
                            </ol>
                        </li>

                        <li>
                            Отзыв Согласия:
                            <ol>
                                <li>
                                    Пользователь имеет право в любое время без объяснения причин отозвать свое согласие
                                    посредством подачи Обществу заявления в порядке, описанном в п. 3.2 настоящей
                                    Политики, либо
                                    в форме, посредством которой получено его согласие.
                                </li>

                                <li>
                                    Общество в течение 15 дней после получения заявления в соответствии с его
                                    содержанием
                                    прекратит обработку ПД, а также осуществит их удаление (обеспечит прекращение
                                    обработки ПД,
                                    а также их удаление Уполномоченными лицам, если таковые имеются) и уведомит об этом
                                    Пользователя.

                                    Если у Общества будет отсутствовать техническая возможность удаления ПД, Общество
                                    примет
                                    меры по недопущению дальнейшей обработки ПД, включая их блокирование, и уведомит об
                                    этом
                                    Пользователя в тот же срок.

                                    Общество вправе отказать Пользователю в удовлетворении требований о прекращении
                                    обработки его ПД и (или) их удалении при наличии оснований для обработки ПД,
                                    предусмотренных
                                    законодательством.
                                </li>

                                <li>
                                    Общество в течение 15 дней после получения заявления в соответствии с его
                                    содержанием
                                    прекратит обработку ПД, а также осуществит их удаление (обеспечит прекращение
                                    обработки ПД,
                                    а также их удаление Уполномоченными лицам, если таковые имеются) и уведомит об этом
                                    Пользователя.

                                    Если у Общества будет отсутствовать техническая возможность удаления ПД, Общество
                                    примет
                                    меры по недопущению дальнейшей обработки ПД, включая их блокирование, и уведомит об
                                    этом
                                    Пользователя в тот же срок.

                                    Общество вправе отказать Пользователю в удовлетворении требований о прекращении
                                    обработки его ПД и (или) их удалении при наличии оснований для обработки ПД,
                                    предусмотренных
                                    законодательством.
                                </li>

                                <li>
                                    Общество в течение 15 дней после получения заявления в соответствии с его
                                    содержанием
                                    прекратит обработку ПД, а также осуществит их удаление (обеспечит прекращение
                                    обработки ПД,
                                    а также их удаление Уполномоченными лицам, если таковые имеются) и уведомит об этом
                                    Пользователя.

                                    Если у Общества будет отсутствовать техническая возможность удаления ПД, Общество
                                    примет
                                    меры по недопущению дальнейшей обработки ПД, включая их блокирование, и уведомит об
                                    этом
                                    Пользователя в тот же срок.

                                    Общество вправе отказать Пользователю в удовлетворении требований о прекращении
                                    обработки его ПД и (или) их удалении при наличии оснований для обработки ПД,
                                    предусмотренных
                                    законодательством.
                                </li>
                            </ol>
                        </li>

                        <li>
                            <b>Пользователь обязан:</b>
                            <ol>
                                <li>предоставлять Обществу достоверные ПД;</li>
                                <li>своевременно сообщать Обществу об изменениях и дополнениях своих ПД;</li>
                                <li>
                                    осуществлять свои права в соответствии с законодательством Республики Беларусь и
                                    настоящей Политикой;
                                </li>
                                <li>
                                    исполнять иные обязанности, предусмотренные законодательством Республики Беларусь и
                                    настоящей Политикой.
                                </li>
                            </ol>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Обязательства общества по защите персональных данных. режим конфиденциальности
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ol>
                        <li>
                            <b>Общество обязуется:</b>
                            <ol>
                                <li>обеспечить режим конфиденциальности в отношении ПД;</li>

                                <li>
                                    предоставить Пользователю информацию о ПД, касающуюся обработки его ПД в течение 5
                                    (пяти)
                                    рабочих дней, если иной срок не установлен законодательными актами Республики
                                    Беларусь, с
                                    даты получения Запроса Пользователя о предоставлении такой информации, или
                                    предоставить
                                    мотивированный отказ;
                                </li>

                                <li>
                                    предоставить в течение 15 (пятнадцати) дней после получения соответствующего Запроса
                                    Пользователя информацию о том, какие ПД этого Пользователя и кому предоставлялись в
                                    течение
                                    года, предшествовавшего дате подачи заявления, либо уведомить Пользователя о
                                    причинах отказа
                                    в ее предоставлении;
                                </li>

                                <li>
                                    вносить в течении 15 (пятнадцати) дней изменения и дополнения в ПД, которые являются
                                    неполными, устаревшими или неточными, на основании Запроса Пользователя и
                                    соответствующих
                                    документов, подтверждающих их подлинность, за исключением случаев, когда иной
                                    порядок
                                    внесения изменений в ПД установлен законодательными актами Республики Беларусь либо
                                    если
                                    цели обработки ПД не предполагают последующих изменений таких ПД;
                                </li>

                                <li>
                                    в течении 15 (пятнадцати) дней прекратить обработку ПД, а также осуществить их
                                    удаление или
                                    блокирование (обеспечить прекращение обработки ПД, а также их удаление или
                                    блокирование
                                    компетентным работником Общества), если цель их обработки достигнута при отсутствии
                                    иных
                                    оснований для обработки ПД, в случае отзыва согласия Пользователя на обработку ПД, а
                                    также в
                                    случаях, предусмотренных законодательством Республики Беларусь;
                                </li>

                                <li>
                                    при отсутствии технической возможности удаления ПД, Общество обязуется принять меры
                                    по
                                    недопущению дальнейшей обработки ПД, включая их блокирование;
                                </li>

                                <li>
                                    уведомлять Национальный центр по защите персональных данных Республики Беларусь о
                                    нарушениях
                                    систем защиты ПД незамедлительно, но не позднее 3 (трех) рабочих дней после того,
                                    как
                                    Обществу стало известно о таких нарушениях;
                                </li>

                                <li>
                                    выполнять иные обязанности, предусмотренные законодательством Республики Беларусь.
                                </li>
                            </ol>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Порядок предоставления доступа к персональным данным третьим лицам
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ol>
                        <li>
                            Общество предоставляет ПД по запросам (требованиям) органов государственной власти и
                            управления, органов местного самоуправления, контролирующих органов, правоохранительных
                            органов,
                            иных компетентных органов и организаций, имеющих право получать такую информацию в
                            соответствии с
                            законодательством. Персональные данные предоставляются исключительно по мотивированному,
                            обоснованному и законному требованию государственного органа или иного полномочного лица.
                        </li>

                        <li>
                            Общество может привлекать третьих лиц (далее – Уполномоченные лица) к обработке персональных
                            данных Пользователей для реализации целей, относительно которых Пользователи предоставили
                            Обществу
                            свои персональные данные.
                        </li>

                        <li>
                            Для осуществления доставки заказанного товара покупателю Общество передает указанные в п.
                            2.1
                            персональные данные привлекаемой для доставки курьерской организации, которая осуществляет
                            обработку
                            предоставленных персональных данных на основании заключенного с Обществом договора в
                            интересах
                            Общества.
                        </li>

                        <li>
                            Для осуществления выдачи заказа в пункте выдачи заказа Общество передает указанные в п. 2.1
                            персональные данные юридическому лицу, осуществляющему функции пункта выдачи заказ на
                            основании
                            заключенного договора, которое осуществляет обработку персональных данных в интересах
                            Общества с
                            целью выдачи заказа.
                        </li>

                        <li>
                            Общество предоставляет доступ к ПД третьим лицам в соответствии с требованиями
                            законодательства о
                            ПД:
                            <ul>
                                <li>Общество передает только минимальный объем данных, необходимый третьему лицу;</li>
                                <li>
                                    Общество работает только с теми третьими лицами, которые могут обеспечить
                                    соответствующий
                                    уровень защиты ПД;
                                </li>
                                <li>
                                    в случае если третье лицо действует как Уполномоченное лицо, оно может обрабатывать
                                    ПД
                                    только в соответствии с утвержденными инструкциями Общества и в соответствии с
                                    договором с
                                    ним, и не может использовать ПД для иных целей.
                                </li>
                            </ul>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    Трансграничная передача персональных данных
                </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ol>
                        <li>
                            Общество осуществляет передачу персональных данных Пользователей на территорию Российской
                            Федерации
                            в адрес ООО «Вайлдберриз» (Юридический адрес: 142181 Московская область, г. Подольск,
                            деревня
                            Коледино, Территория Индустриальный парк Коледино, д. 6, стр. 1, ОГРН 1067746062449),
                            которое
                            является Уполномоченным лицом на обработку ПД на основании договора, заключенного с
                            Обществом и
                            осуществляет обработку ПД в интересах Общества.
                        </li>

                        <li>
                            Правовым основанием передачи ПД Обществом в адрес ООО «Вайлдберриз» является заключенный
                            договор.
                        </li>

                        <li>
                            На территории Российской Федерации обеспечивается надлежащий уровень защиты прав субъектов
                            персональных данных
                        </li>

                        <li>
                            Оператор несет ответственность перед Пользователями за действия Уполномоченного лица при
                            обработке
                            ПД.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSeven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    Заключительные положения
                </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ol>
                        <li>Настоящая Политика вступает в силу с даты ее подписания.</li>

                        <li>
                            Общество оставляет за собой право изменять настоящую Политику по мере необходимости,
                            например, в
                            соответствии с изменениями в законодательстве Республики Беларусь, в процедурах Общества или
                            требованиями, предъявляемыми НЦЗПД.
                        </li>


                        <li>
                            Контакты Оператора:<br>
                            Общество с ограниченной ответственностью «ИМВБРБ»<br>
                            Адрес: 220036, г. Минск, ул. Грушевская, дом 21, помещение 217<br>
                            Электронная почта: <a href="mailto:StuffStore@gmail.com">StuffStore@gmail.com</a><br>
                            Телефон: +375 17 388 60 00
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <br><br><br>
    </div>
{% endblock %}

