{% extends 'products/base.html' %}
{% load custom_tags %}
{% block content %}
<div class="catalog_content" style="margin-top: 50px">
    <div class="dropdown product" style="margin-left: 0">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            {{ subcategory.category }}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            {% for product in subcategory.category.subcategory_set.all %}
            <li><a class="dropdown-item" href="{{ product.get_absolute_url }}">{{ product.name }} </a></li>
            {% endfor %}
        </ul>
        <span> {{ subcategory }}</span>
        <div class="vendor" style="display: flex; justify-content: end; align-items: center;">
            <div>
                <span data-text="strProductCodeShort">Арт.</span>
                <span id="productArticle1" style="margin-right: 10px;">{{ product.id }}</span>
            </div>
            <div>
                <i class="fa-regular fa-copy" onclick="myFunction('productArticle1')" style="cursor: pointer;"></i>
            </div>
        </div>

        <div class="row row-cols-auto" style="margin-top: 30px">
            <div class="col" style="margin-bottom: 20px;">
                <div class="card border-0" style="width: 500px; height: 700px">
                    <div id="carousel-{{ product.id }}" class="carousel slide carousel-fade">
                        <div class="carousel-inner">
                            {% for image in product.images.all %}
                            {% if image %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <div class="image-wrapper">
                                    <img src="{{ image.image.url }}" class="d-block w-100 card-img-top"
                                        style="border-radius: 10px; width: 330px;" alt="Image">
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{ product.id }}"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Предыдущий</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{ product.id }}"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Следующий</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col" style="margin-bottom: 20px;">
                <div class="card border-0">
                    <div class="carousel-inner">
                        <h3>{{ product }}</h3>
                        <i class="fa-solid fa-star fa-sm"></i> {{ product_avg_rating|floatformat }} &#8226;
                        <i class="fa-regular fa-comments"></i> {{ product.reviews.all|length}}
                        <div>
                            <table style="display: table;
                        border-collapse: separate;
                        box-sizing: border-box;
                        text-indent: initial;
                        border-spacing: 2px;
                        border-color: gray;">
                                {% for detail in product.details.all|dictsort:"detail.name" %}
                                <tr style="display: flex;">
                                    <th style='min-width: 144px; max-width: 144px;
                                color: #9797af;
                                font-variation-settings: "wght" 550;
                                text-align: left;
                                width: 50%;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 17px;'>
                                        {{ detail.detail }}
                                    </th>
                                    <td></td>
                                    <td style='width: 100%;
                                color: #000;
                                font-variation-settings: "wght" 400;
                                word-break: break-word;
                                width: 100%;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 17px;'>
                                        {{ detail.description }}
                                    </td>
                                </tr>
                                {% endfor %}
                                <tr style="display: flex;">
                                    <th style='min-width: 144px; max-width: 144px;
                                color: #9797af;
                                font-variation-settings: "wght" 550;
                                text-align: left;
                                width: 50%;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 17px;'>
                                        <a style="color: rgba(55,44,132,1); cursor: pointer;" data-bs-toggle="offcanvas"
                                            data-bs-target="#offcanvasRight"
                                            aria-controls="offcanvasRight">Подробнее</a>
                                    </th>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasRightLabel"><b>Параметы и описание</b></h5>
                    <button type="button" tabindex="-1" class="btn-close" data-bs-dismiss="offcanvas"
                        aria-label="Закрыть"></button>
                </div>
                <div class="offcanvas-body">
                    <table style="display: table;
                    border-collapse: separate;
                    box-sizing: border-box;
                    text-indent: initial;
                    border-spacing: 2px;
                    border-color: gray;">
                        <tr style="display: flex;">
                            <th style='min-width: 144px; max-width: 144px;
                                                color: #9797af;
                                                font-variation-settings: "wght" 550;
                                                text-align: left;
                                                width: 50%;
                                                font-size: 14px;
                                                font-weight: 400;
                                                line-height: 17px;'>
                                Артикул
                            </th>
                            <td></td>
                            <td style='width: 100%;
                                                color: #000;
                                                font-variation-settings: "wght" 400;
                                                word-break: break-word;
                                                width: 100%;
                                                font-size: 14px;
                                                font-weight: 400;
                                                line-height: 17px;'>
                                {{ product.id }} <i class="fa-regular fa-copy" onclick="myFunction('productArticle1')"
                                    style="cursor: pointer;"></i>
                            </td>
                        </tr>
                        {% for detail in product.details.all|dictsort:"detail.name" %}
                        <tr style="display: flex;">
                            <th style='min-width: 144px; max-width: 144px;
                            color: #9797af;
                            font-variation-settings: "wght" 550;
                            text-align: left;
                            width: 50%;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 17px;'>
                                {{ detail.detail}}
                            </th>
                            <td></td>
                            <td style='width: 100%;
                            color: #000;
                            font-variation-settings: "wght" 400;
                            word-break: break-word;
                            width: 100%;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 17px;'>
                                {{ detail.description }}
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td><b>Описание</b></td>
                        </tr>
                        <tr style="display: flex;">
                            <td style='width: 100%;
                            color: #000;
                            font-variation-settings: "wght" 400;
                            word-break: break-word;
                            width: 100%;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 17px;'>
                                {{ product.description }}
                            </td>
                        </tr>
                        <tr style="display: flex;">
                            <td style='width: 100%;
                            color: #9e9e9e;
                            font-variation-settings: "wght" 400;
                            word-break: break-word;
                            width: 100%;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 17px; margin-top: 5px;'>
                                Вся информация о товаре справочная и основывается на последних сведениях от
                                производителя
                        </tr>

                    </table>
                    <a class="btn btn-primary-link"
                        style="display: block; margin-top: 10px; background: rgb(115,107,169);
                        background: linear-gradient(162deg, rgba(115,107,169,0.8935223747702206) 0%, rgba(55,44,132,1) 50%, rgba(18,0,136,1) 100%); border-width: 0;"
                        type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть">
                        Закрыть
                    </a>
                </div>
            </div>
            <div class="col" style="margin-bottom: 20px;">
                <div class="card border-0"
                    style="background: linear-gradient(97deg,#fef1fb .49%,#fdf1fc 14.88%,#fcf0fc 29.27%,#fbf0fd 43.14%,#f9effd 57.02%,#f8eefe 70.89%,#f6eefe 84.76%,#f4edff 99.15%); border-radius: 15px;">
                    <a href="#addtofavourites">
                        <i class="fa-regular fa-heart fa-2xl add_to_favourite"
                            style="color: rgb(51, 56, 124); position: absolute; top: 20px; z-index: 1000; right: 10px; margin: 15px 5px 0px 0px;"></i></a>
                    <div style="overflow: hidden; padding: 5px 10px 0px; margin-top: 0;">
                        <h5 class="card-title" style="font-size: 34px; margin-top: 10px">
                            <b>{{ product.price }} р.</b>
                        </h5>
                        <p style="margin: 0;"><b>Доставим послезавтра</b></p>
                    </div>
                    <a class="btn btn-primary-link"
                        style="display: block; background: rgb(115,107,169);
                        background: linear-gradient(162deg, rgba(115,107,169,0.8935223747702206) 0%, rgba(55,44,132,1) 50%, rgba(18,0,136,1) 100%); border-width: 0; margin-left: 5px; margin-right: 5px;"
                        onclick="alert('Товар добавлен в корзину. PS добавить исчезание этой надписи само по себе и сделать ее меньше')"
                        value="Нажми на меня!" />В корзину</a>
                    <div style="display: flex;">
                        <div style="font-size: 14px;"><a href="#reviews" style="color: black;"><i
                                    class="fa-solid fa-star fa-sm"></i>{{ product_avg_rating|floatformat }}</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div>
            <div style="display: flex;">
                <div class="delivery" style="border-bottom: 2px solid #000; width: max-content;">
                    <b>Отзывы <span style="color: gray; font-size: large;">{{ product.reviews.all|length}}</span></b>
                </div>
                <div class="delivery">
                    <a href="#" style="color: #000;">
                        <b>Вопросы</b>
                    </a>
                </div>
            </div>
            <div style="display: flex; margin-top: 10px;">
                <div style="margin-right: 20px;">
                    <span style="font-size: 60px;">{{ product_avg_rating|floatformat }}</span>
                </div>
                <div>
                    {% for value in every_counts_stars %}
                    {% custom_range value.rating as stars %}
                    <div style="display: flex; margin-left: auto; margin-right: 0;">
                        <div style="display: flex; justify-content: flex-end; width: 70px; align-content: end;">
                            {% for star in stars %}
                            <div>
                                <i class="fa-solid fa-star fa-2xs"></i>
                            </div>
                            {% endfor %}
                        </div>
                        <div>
                            &ensp;&#8226;&ensp;{{ value.count }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div style="display: inline-flex; overflow-x:scroll; width: 100%; height: max-content;">
                {% for review in product.reviews.all|slice:"10" %}
                <div class="card"
                    style="background: #f6f6fa; margin: 10px; border-radius: 10px; width: 300px; height: 180px; border-width: 0; flex-shrink: 0;">
                    <div class="card-body" style="height: 180px; overflow: hidden;">
                        <div style="display: flex; margin-bottom: 10px;">
                            <div>
                                {% custom_range review.rating as rating %}
                                {% for star in rating %}
                                <i class="fa-solid fa-star fa-2xs"></i>
                                {% endfor %}
                                &#8226;
                                {{ review.user.first_name }}, {{ review.date|date:"j b Y" }} г.
                            </div>
                        </div>
                        {% if review.images.all %}
                        <div style="display: flex;">
                            {% for image in review.images.all %}
                            <img src="{{ image.image.url }}" alt="" width="50" height="50"
                                style="margin: 4px; border-radius: 10%;">
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="review_content">
                            <p class="card-text">{{ review.description }}</p>
                        </div>

                    </div>
                </div>
                {% endfor %}
            </div>
            <div>Все отзывы</div>
        </div>
    </div>

</div>

<script>
    function myFunction(id) {
        var value = document.getElementById(id).innerHTML;
        var input_temp = document.createElement("input");
        input_temp.value = value;
        document.body.appendChild(input_temp);
        input_temp.select();
        document.execCommand("copy");
        document.body.removeChild(input_temp);
    }
</script>
{% endblock content %}