{% extends 'products/base.html' %}
{% load custom_tags %}

{% block content %}

<div class="catalog_content" style="margin-top: 50px">
    <div class="dropdown product" style="margin-left: 0">
        <div style="display: flex;">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                {{ subcategory.category }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% for product in subcategory.category.subcategory_set.all %}
                <li><a class="dropdown-item" href="{{ product.get_absolute_url }}">{{ product.name }} </a></li>
                {% endfor %}
            </ul>
            <span> {{ subcategory }}</span>
            <div class="vendor" style="display: flex; justify-content: end; align-items: center; margin-left: auto;">
                <div>
                    <span data-text="strProductCodeShort">Арт.</span>
                    <span id="productArticle" style="margin-right: 10px;">{{ product.id }}</span>
                </div>
                <div>
                    <i id='send1' class="fa-regular fa-copy" onclick="myFunction('productArticle')"
                        style="cursor: pointer;" title="Скопировать"></i>
                </div>
                <div id="insert"></div>
            </div>
        </div>
        <div class="row row-cols-auto" style="margin-top: 30px">
            <div class="col containerimages" style="margin: 0;">
                <!-- Thumbnail images -->
                <div class="scrollimagesdiv">
                    {% for image in product.images.all %}
                    {% if image %}
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="column">
                            <img class="demo cursor" src="{{ image.image.url }}"
                                onclick="currentSlide({{forloop.counter}})" width="80" alt="Image"
                                style="border-radius: 15px;">
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>

                <!-- Full-width images with number text -->
                <div style="width: 330px; position: relative;">
                    {% for image in product.images.all %}
                    {% if image %}
                    <div class="mySlides">
                        <img src="{{ image.image.url }}" style="width: 330px; border-radius: 10px;">
                    </div>
                    {% endif %}
                    {% endfor %}

                    <!-- Next and previous buttons -->
                    <button class="carousel-control-prev" type="button" onclick="plusSlides(-1)">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Предыдущий</span>
                    </button>
                    <button class="carousel-control-next" type="button" onclick="plusSlides(1)">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Следующий</span>
                    </button>
                    <!-- <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a> -->
                </div>
            </div>

            <div class="col" style="margin-bottom: 20px; max-width: 450px;">
                <div class="card border-0">
                    <div class="carousel-inner">
                        <h3>{{ product }}</h3>
                        <i class="fa-solid fa-star fa-sm"></i> {{ product_avg_rating|floatformat }} &#8226;
                        <i class="fa-regular fa-comments"></i> {{ product.reviews.all|length }}
                        <div>
                            <table style="display: table;
                        border-collapse: separate;
                        box-sizing: border-box;
                        text-indent: initial;
                        border-spacing: 2px;
                        border-color: gray;">
                                {% for detail in product.details.all|dictsort:"detail.name" %}
                                <tr style="display: flex;">
                                    <th style='min-width: 144px; max-width: 144px;
                                color: #9797af;
                                font-variation-settings: "wght" 550;
                                text-align: left;
                                width: 50%;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 17px;'>
                                        {{ detail.detail }}
                                    </th>
                                    <td></td>
                                    <td style='width: 100%;
                                color: #000;
                                font-variation-settings: "wght" 400;
                                word-break: break-word;
                                width: 100%;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 17px;'>
                                        {{ detail.description }}
                                    </td>
                                </tr>
                                {% endfor %}
                                <tr style="display: flex;">
                                    <th style='min-width: 144px; max-width: 144px;
                                color: #9797af;
                                font-variation-settings: "wght" 550;
                                text-align: left;
                                width: 50%;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 17px;'>
                                        <a style="color: rgba(55,44,132,1); cursor: pointer;" data-bs-toggle="offcanvas"
                                            data-bs-target="#offcanvasRight"
                                            aria-controls="offcanvasRight">Подробнее</a>
                                    </th>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasRightLabel"><b>Параметы и описание</b></h5>
                    <button type="button" tabindex="-1" class="btn-close" data-bs-dismiss="offcanvas"
                        aria-label="Закрыть"></button>
                </div>
                <div class="offcanvas-body">
                    <table style="display: table;
                    border-collapse: separate;
                    box-sizing: border-box;
                    text-indent: initial;
                    border-spacing: 2px;
                    border-color: gray;">
                        <tr style="display: flex;">
                            <th style='min-width: 144px; max-width: 144px;
                                                color: #9797af;
                                                font-variation-settings: "wght" 550;
                                                text-align: left;
                                                width: 50%;
                                                font-size: 14px;
                                                font-weight: 400;
                                                line-height: 17px;'>
                                Артикул 
                            </th>
                            <td></td>
                            <td style='width: 100%;
                                                color: #000;
                                                font-variation-settings: "wght" 400;
                                                word-break: break-word;
                                                width: 100%;
                                                font-size: 14px;
                                                font-weight: 400;
                                                line-height: 17px;'>
                                <span id="productArticle" style="padding-right: 5px">{{ product.id }}</span><i id="send2"
                                    class="fa-regular fa-copy" onclick="myFunction('productArticle')"
                                    style="cursor: pointer;" title="Скопировать"></i>
                                <div id="insert"></div>
                            </td>
                        </tr>
                        {% for detail in product.details.all|dictsort:"detail.name" %}
                        <tr style="display: flex;">
                            <th style='min-width: 144px; max-width: 144px;
                            color: #9797af;
                            font-variation-settings: "wght" 550;
                            text-align: left;
                            width: 50%;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 17px;'>
                                {{ detail.detail}}
                            </th>
                            <td></td>
                            <td style='width: 100%;
                            color: #000;
                            font-variation-settings: "wght" 400;
                            word-break: break-word;
                            width: 100%;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 17px;'>
                                {{ detail.description }}
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td><b>Описание</b></td>
                        </tr>
                        <tr style="display: flex;">
                            <td style='width: 100%;
                            color: #000;
                            font-variation-settings: "wght" 400;
                            word-break: break-word;
                            width: 100%;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 17px;'>
                                {{ product.description }}
                            </td>
                        </tr>
                        <tr style="display: flex;">
                            <td style='width: 100%;
                            color: #9e9e9e;
                            font-variation-settings: "wght" 400;
                            word-break: break-word;
                            width: 100%;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 17px; margin-top: 5px;'>
                                Вся информация о товаре справочная и основывается на последних сведениях от
                                производителя
                        </tr>

                    </table>
                    <a class="btn btn-primary-link"
                        style="display: block; margin-top: 10px; background: rgb(115,107,169);
                        background: linear-gradient(162deg, rgba(115,107,169,0.8935223747702206) 0%, rgba(55,44,132,1) 50%, rgba(18,0,136,1) 100%); border-width: 0;"
                        type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть">
                        Закрыть
                    </a>
                </div>
            </div>
            <div class="col" style="margin-bottom: 20px;">
                <div class="card border-0"
                    style="background: linear-gradient(97deg,#fef1fb .49%,#fdf1fc 14.88%,#fcf0fc 29.27%,#fbf0fd 43.14%,#f9effd 57.02%,#f8eefe 70.89%,#f6eefe 84.76%,#f4edff 99.15%); border-radius: 15px;">
                    <a href="#addtofavourites">
                        <i class="fa-regular fa-heart fa-2xl add_to_favourite"
                            style="color: rgb(51, 56, 124); position: absolute; top: 20px; z-index: 1000; right: 10px; margin: 15px 5px 0px 0px;"></i></a>
                    <div style="overflow: hidden; padding: 5px 10px 0px; margin-top: 0;">
                        <h5 class="card-title" style="font-size: 34px; margin-top: 10px">
                            <b>{{ product.price }} р.</b>
                        </h5>
                        <p style="margin: 0;"><b>Доставим послезавтра</b></p>
                    </div>
                    <div id="in_basket_{{product.pk}}">
                        {% if not product_in_basket %}
                            <div id="product_not_in_basket_{{product.pk}}">
                                <a id="inBasket" class="btn btn-primary-link"
                                    style="background-color: rgb(51, 56, 124); height: 32px; padding: 1px 11px 0; align-content: center;"
                                    value="" onclick="add_product_to_basket({{product.pk}})">В корзину</a>
                            </div>
                        {% else %}
                        <div id="product_in_basket_{{product.pk}}"
                            style="background-color: rgba(51, 56, 124, 0.1); width: max-content; border-radius: 5px;">
                            <button style="border: none; background: none; padding: 0px 0px 0px 5px;"><a
                                    style="all: unset;" onclick="minus_product_to_basket({{product.pk}})"><i
                                        class="fa-solid fa-minus"></i></a></button>
                            <input id="product_{{product.pk}}_quantity" type="text"
                                style="width: 53px; height: 32px; font-size: 14px; font-weight: 700; border: none; background: none; padding: 0; text-align: center;"
                                value="{{ product_in_basket.0.quantity }}" disabled>
                            <button style="border: none; background: none; padding: 0px 5px 0px 0px;"><a
                                    style="all: unset;" onclick="add_product_to_basket({{product.pk}})"><i
                                        class="fa-solid fa-plus"></i></a></button>
                        </div>
                        {% endif %}
                    </div>
                    <div style="display: flex;">
                        <div style="font-size: 14px;"><a href="#reviews" style="color: black;"><i
                                    class="fa-solid fa-star fa-sm"></i>{{ product_avg_rating|floatformat }}</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div>
            <div style="display: flex;">
                <div class="delivery" style="border-bottom: 2px solid #000; width: max-content;">
                    <b>Отзывы <span style="color: gray; font-size: large;">{{ all_count_reviews }}</span></b>
                </div>
                <div class="delivery">
                    <a href="#" style="color: #000;">
                        <b>Вопросы</b>
                    </a>
                </div>
            </div>
            <div style="display: flex; margin-top: 10px;">
                <div style="margin-right: 20px;">
                    <span style="font-size: 60px;">{{ product_avg_rating|floatformat }}</span>
                </div>
                {% if all_count_reviews %}
                <div>
                    {% for value in '54321'|make_list %}
                    {% custom_range value as stars %}
                    <div style="display: flex; margin-left: auto; margin-right: 0;">
                        <div style="display: flex; justify-content: flex-end; width: 70px; align-content: end;">
                            {% for star in stars %}
                            <div>
                                <i class="fa-solid fa-star fa-2xs"></i>
                            </div>
                            {% endfor %}
                        </div>&ensp;
                        <div class="rating_list_wrapper">
                            {% width_line_rating product.pk value all_count_reviews as rating %}
                            <div class="rating_list_line" style="width: {{ rating.1|floatformat }}%"></div>
                        </div>
                        <div>
                            &ensp;{{ rating.0 }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div style="display: inline-flex; overflow-x:scroll; width: 100%; height: max-content;">
                {% for review in product.reviews.all|slice:"10" %}
                <div class="card"
                    style="background: #f6f6fa; margin: 10px; border-radius: 10px; width: 300px; height: 180px; border-width: 0; flex-shrink: 0;">
                    <div class="card-body card-body-custom" style="height: 180px; overflow: hidden;">
                        <div style="display: flex; margin-bottom: 10px;">
                            <div>
                                {% custom_range review.rating as rating %}
                                {% for star in rating %}
                                <i class="fa-solid fa-star fa-2xs"></i>
                                {% endfor %}
                                &#8226;
                                {{ review.user.first_name }}, {{ review.date|date:"j b Y" }} г.
                            </div>
                        </div>
                        {% if review.images.all %}
                        <div style="display: flex;">
                            {% for image in review.images.all %}
                            <img src="{{ image.image.url }}" alt="" width="50" height="50"
                                style="margin: 4px; border-radius: 10%;">
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="review_content">
                            <p class="card-text">{{ review.description }}</p>
                        </div>

                    </div>
                </div>
                {% endfor %}
            </div>
            <div><a href="{% url 'reviews:product_reviews' subcategory.slug product.id %}" style="color: #000;">Все
                    отзывы</a>
            </div>
        </div>
    </div>

</div>

<script>
    function myFunction(id) {
        var value = document.getElementById(id).innerHTML;
        var input_temp = document.createElement("input");
        input_temp.value = value;
        document.body.appendChild(input_temp);
        input_temp.select();
        document.execCommand("copy");
        document.body.removeChild(input_temp);
    }

    function insertText() {
        var text = 'Скопировано';
        var insert = document.getElementById('insert');
        if (insert != null) insert.textContent = text;
        else alert('Функция insertText() обратилась к несуществующему элементу с id="insert"');
    }
    // window.onload = function () {
    //     var send = document.getElementById();
    //     if (send != null) send.onclick = insertText;
    //     else alert('Элемент с id="send" не существует! ');
    // }

    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        // var captionText = document.getElementById("caption");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
    }
</script>

{% endblock content %}