{% extends 'products/base.html' %}
{% load static %}
{% block content %}
    <div class="sale-rules">
        <h1><b>Правила продажи товаров в интернет-магазине StuffStore</b></h1><br>
        <div data-tag="saleRules">
            <ol>
                <li>Товары, размещенные на сайте, предназначены для личного потребления.</li>
                <li>
                    Ссылки на нормативные акты:
                    <ul>
                        <li>Закон РБ <a
                                href="https://static-basket-01.wbbasket.ru/vol1/docs/zakon-o-zaschite-prav-potrebitelei.docx"
                                target="_blank" rel="noopener">«О защите прав потребителей»</a> от 9 января 2002 г.
                            N
                            90-З.
                        </li>
                        <li>Гражданский кодекс Республики Беларусь от 7 декабря 1998 г. N 218-З (подробная
                            информация
                            указана в статье
                            403).
                        </li>
                        <li>Постановление совета министров Республики Беларусь 14 июня 2002 г. N 778 «о мерах по
                            реализации Закона
                            Республики Беларусь "о защите прав потребителей".
                        </li>
                    </ul>
                </li>
                <li>Заказ формируется через интернет-сайт ООО «ИМВБРБ» (www.wildberries.by).</li>
                <li>Потребитель вправе оплатить Товар путем безналичных расчетов.</li>
                <li>Безналичная оплата может быть осуществлена путем банковского перевода, с использованием
                    банковской
                    карты, а также
                    электронным платежом в соответствии с порядком, указанным на сайте в разделе <a
                            id="paymentMethodsLink" href="{% url 'products:payment_methods' %}">«Способы оплаты»</a>.
                    Расходы за
                    перечисление денежных средств на счет
                    Продавца несет Покупатель.
                </li>
                <li>Доставка Товара может, по выбору ООО «ИМВБРБ», также осуществляться посредством заказа
                    Потребителем
                    доставки
                    товара до пункта связи, расположенного в месте междугороднего почтового обмена, по адресу,
                    указанному Покупателем
                    в заказе товара.
                </li>
                <li>Стоимость доставки указывается в момент оформления Заказа в разделе «Корзина».</li>
                <li>Правила и условия эффективного и безопасного использования Товаров указаны на ярлыках или в
                    инструкции по
                    эксплуатации Товара.
                </li>
                <li>При доставке предоплаченного заказа, заказ выдаётся исключительно в случае предъявления
                    Покупателем
                    кода для
                    получения заказа, отраженного в личном кабинете Покупателя, или QR-кода из мобильного приложения
                    Покупателя. При
                    непредъявлении Покупателем указанного кода или QR-кода выдача заказа Покупателю не
                    осуществляется.
                </li>
            </ol>
        </div>
    </div>
{% endblock %}
